<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>제품 상세정보 페이지</title>
    <link rel="stylesheet" href="/css/header-footer/header.css">
    <link rel="stylesheet" href="/css/header-footer/header-login.css">
    <link rel="stylesheet" href="/css/header-footer/footer.css">
    <link rel="stylesheet" href="/css/product/main.css">
    <link rel="stylesheet" href="/css/product/detail.css">
    <link rel="stylesheet" href="/css/font.css">

</head>
<body>
<th:block th:if="${session.userId==null}">
    <header class="header" th:replace="~{/header-footer/header :: header}"></header>
</th:block>
<th:block th:if="${session.userId!=null}">
    <header class="header" th:replace="~{/header-footer/header-login :: header}"></header>
</th:block>
<div class="css-b3oum7">
    <div class="layout">
        <div class="production-selling">

        </div>
    </div>
</div>
<footer class="footer" th:replace="~{/header-footer/footer :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script th:inline="javascript">
    let productDTO = [[${productDTO}]];
</script>
<script src="/js/product/product-detail.js"></script>
<script src="/js/header-footer/header.js"></script>
</html>