<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상품 목록</title>
    <link rel="stylesheet" href="/css/review/user_review_list.css">
    <link rel="stylesheet" href="/css/header-footer/header.css">
    <link rel="stylesheet" href="/css/header-footer/header-login.css">
    <link rel="stylesheet" href="/css/header-footer/footer.css">
    <link rel="stylesheet" href="/css/product/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <style>
        .css-b3oum7 {
            max-width: 1136px;
            margin: 0 auto;
        }

        div.ecxk4430 {
            font-size: 20px;
            justify-content: space-between;
            margin-right: 2.5rem;
        }
    </style>
</head>
<body>
<th:block th:if="${session.userId==null}">
    <header class="header" th:replace="~{/header-footer/header :: header}"></header>
</th:block>
<th:block th:if="${session.userId!=null}">
    <header class="header" th:replace="~{/header-footer/header-login :: header}"></header>
</th:block>
<div class="css-b3oum7">

    <div class="layout">
        <div id="store-index" style="text-align: justify-all; font-size: 16px; font-weight: bold">

            <section class="container store-index-section store-index-category-list location">
                <h1 class="store-index-category-list__title">지역</h1>
                <div class="filter css-kwstsq el60dcz0">
                    <div class="filter-bar">
                        <div class="filter-bar__control-list">
                            <ul class="filter-bar__control-list__left">
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button location-active">전체</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">서울특별시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">부산광역시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">대구광역시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">인천광역시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">광주광역시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">대전광역시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">울산광역시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">강원도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">경기도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">경상남도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">경상북도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">전라남도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">전라북도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">충청남도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">충청북도</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">세종특별자치시</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">제주특별자치도</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="filter-bar__tag-list"></ul>
                    </div>
                </div>
            </section>
            <section class="container store-index-section store-index-category-list category">
                <h1 class="store-index-category-list__title">카테고리</h1>
                <div class="filter css-kwstsq el60dcz0">
                    <div class="filter-bar">
                        <div class="filter-bar__control-list">
                            <ul class="filter-bar__control-list__left">
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button category-active">전체</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">음식</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">음료</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">베이커리</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">여가생활</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">숙박시설</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">문화체험</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">특산품</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">의류</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">야외활동</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">기타</button>
                                    </div>
                                </li>


                            </ul>
                        </div>
                        <ul class="filter-bar__tag-list"></ul>
                    </div>
                </div>
            </section>
            <section class="container store-index-section store-index-category-list order-list">
                <h1 class="store-index-category-list__title">로컬 쿠폰</h1>
                <div class="filter css-kwstsq el60dcz0">
                    <div class="filter-bar">
                        <div class="filter-bar__control-list">
                            <ul class="filter-bar__control-list__left">
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button order-active">최신순</button>
                                    </div>
                                </li>
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">인기순</button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="filter-bar__tag-list"></ul>
                    </div>
                </div>
            </section>
            <section class="container store-index-section store-index-product-list ">
                <div class="virtualized-list row" style="padding-top: 0px;">

                </div>
            </section>
        </div>
    </div>
</div>
<footer class="footer" th:replace="~{/header-footer/footer :: footer}"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/header-footer/header.js"></script>
<script th:inline="javascript">

</script>


<script src="/js/product/product-list.js"></script>



</html>