<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="../../static/css/admin/admin.css" rel="stylesheet">
    <link href="../../static/css/admin/side-nav.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="wrap">
    <!-- header -->
    <div class="header">
        <div class="logoImage">
            <a href="#"><img src="#" style="width:158px;"></a>
        </div>
        <div class="title">
            <div>
                <span class="ChangeTitle">관리자 계정 관리</span>
            </div>
            <span><small>관리자모드</small></span>
        </div>
    </div>


    <!--mainSidebar -->
    <section class="mainContainer">
        <!--side bar-->
        <nav>
            <ul class="mainNav">
                <li><a href="./admin.html">관리자 계정 관리</a></li>
                <li><a href="./main.html">메인 관리</a></li>
                <li><a href="./member.html">회원 관리</a></li>
                <li><a href="product.html" >상품 관리</a></li>
                <li><a href="product-form.html" >상품 등록</a></li>
                <li><a href="./floging.html" >플로깅 목록</a></li>
                <li><a href="./notice.html" >공지 사항</a></li>
                <li><a href="./notice-form.html" >공지 사항 작성</a></li>
                <li><a href="./qna.html" >문의 목록</a></li>

            </ul>
        </nav>
        <!--mainScreen 계정관리-->


        <div class="mainContent">
            <section>
                <form action="#">
                    <div>
                        <h3>기본정보</h3>
                        <hr>
                    </div>
                    <table class="adminInfo">
                        <tr class="siteName" style="border-top:3px solid #6e6e6e;">
                            <td>사이트명</td>
                            <td>플록(floc)</td>
                        </tr>
                        <tr class="adminName">
                            <td>관리자 이름</td>
                            <td>관리자명</td>
                        </tr>
                        <tr class="adminNickname">
                            <td>관리자 닉네임</td>
                            <td>관리자 닉네임</td>
                        </tr>
                        <tr class="adminEmail">
                            <td>관리자 이메일 주소</td>
                            <td><input type="email" name = "adminEmail" placeholder="00000@naver.com"><span class="notice" style="display : none;">이메일이 일치하지 않습니다</span></td>
                        </tr>
                        <tr class="adminPassword">
                            <td>관리자 비밀번호</td>
                            <td><input type="password" name = "newPassword" placeholder="변경 할 비밀번호 입력">
                            </td>
                        </tr>
                    </table>
                    <div class="btn btn-write">
                        <button type = "button" class="clickWriteBtn">변경하기</button>
                    </div>
                </form>
            </section>
        </div>
    </section>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/admin/side-bar.js"></script>
</html>