<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="../../static/css/admin/notice-form.css" rel="stylesheet">
    <link href="../../static/css/admin/side-nav.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="wrap">
    <!-- header -->
    <div class="header">
        <div class="logoImage">
            <a href="#"><img src="/image/logo.png"></a>
        </div>
        <div class="title">
            <div>
                <span class="ChangeTitle">플로깅 신청서</span>
            </div>
            <span><small>관리자모드</small></span>
        </div>
    </div>


    <!--mainSidebar -->
    <section class="mainContainer">
        <!--side bar-->
        <nav>
            <ul class="mainNav">
                <li><a href="./admin.html">관리자 계정 관리</a></li>
                <li><a href="./main.html">메인 관리</a></li>
                <li><a href="./member.html">회원 관리</a></li>
                <li><a href="product.html" >상품 관리</a></li>
                <li><a href="product-form.html" >상품 등록</a></li>
                <li><a href="./floging.html" >플로깅 목록</a></li>
                <li><a href="./notice.html" >공지 사항</a></li>
                <li><a href="./notice-form.html" >공지 사항 작성</a></li>
                <li><a href="./qna.html" >문의 목록</a></li>

            </ul>
        </nav>

        <!--mainScreen 공지사항 작성하기-->
        <div class="mainContent">

            <div class="content-wrap">

                <!-- [S] 공지사항 등록 -->
                <form action="./floging.html" method="post" class="estimate-form">
                    <div class="con-write-wrap">
                        <div class="notice-write">
                            <div class="write-title">플로깅 제목</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" readonly>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">주최자</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" readonly>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">플로깅 내용</div>
                            <div class="write-sec">
                                <textarea style="height: 120px;" class="write-text write-notice" type="text" readonly></textarea>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">주최 날짜</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" readonly>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">시작위치~종료위치</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" readonly>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">최대 인원</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" readonly>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">예상 소요 시간</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" readonly>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title input-title" style="color : green; ">보상갯수</div>
                            <div class="write-sec">
                                <input class="write-text write-input inputs" type="number" placeholder="플로깅 완료시 주어질 보상 갯수를 적어주세요" >
                            </div>
                        </div>


                        <div class="notice-write">
                            <div class="write-title input-title" style="color :red;">신청 거부 사유</div>
                            <div class="write-sec">
                                <textarea style="height: 70px;" class="write-text write-notice inputs" type="text" placeholder="플로깅 거부 사유를 적어주세요"></textarea>
                            </div>
                        </div>


                    </div>
                    <!-- [E] 공지사항 등록 -->


                    <!-- 작성하기 btn -->
                    <div class="write-btn-wrap">
                        <button type="button" class="btn btn-list"><a href="./floging.html">플로깅 목록</a></button>
                        <button type="button" class="btn btn-write reject">신청 거부</button>
                        <button type="button" class="btn btn-write permit">신청 수락</button>
                    </div>
                </form>

            </div>


        </div>

    </section>
    <!-- [E] mainSidebar -->


</div>
<!-- [E] wrap -->

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/side-bar.js"></script>
<script src="/js/admin/estimate.js"></script>
</html>