<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/css/admin/board.css" rel="stylesheet">
    <link href="/css/admin/side-nav.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="wrap">
    <!-- header -->
    <div class="header">
        <div class="logoImage">
            <a href="#"><img src="/image/logo.png"></a>
        </div>
        <div class="title">
            <div>
                <span class="ChangeTitle">플로깅 목록</span>
            </div>
            <span><small>관리자모드</small></span>
        </div>
    </div>


    <!--mainSidebar -->
    <section class="mainContainer">
        <!--side bar-->
        <nav>
            <ul class="mainNav">
                <li><a th:href="@{admin}">관리자 계정 관리</a></li>
                <li><a th:href="@{main}">메인 관리</a></li>
                <li><a th:href="@{member}">회원 관리</a></li>
                <li><a th:href="@{product}">상품 관리</a></li>
                <li><a th:href="@{product-form}">상품 등록</a></li>
                <li><a th:href="@{floging}">플로깅 목록</a></li>
                <li><a th:href="@{notice}">공지 사항</a></li>
                <li><a th:href="@{notice-form}">공지 사항 작성</a></li>
                <li><a th:href="@{qna}">문의 목록</a></li>
            </ul>
        </nav>

        <!--mainScreen 회원관리-->
        <div class="mainContent">
            <form th:action="${floging}" class = "searchForm">
                <div class="memberSearch">
                    <div class="memberSearchInput">
                        <select name = "type">
                            <option value="n" th:selected="${search != null and search.type eq 'n'}">주최자</option>
                            <option value="l" th:selected="${search != null and search.type eq 'l'}">주최 날짜</option>
                            <option value="s" th:selected="${search != null and search.type eq 's'}">위치</option>
                        </select>
                        <div>
                            <input type="text" name ="keyword" th:value="${search != null ? search.keyword : ''}" placeholder="검색어를 입력하세요">
                        </div>


                        <button class = "searchBtn">
                            <img src="/image/search.png">
                        </button>
                    </div>
                </div>
            </form>

            <div class="memberLists">
                <div id="root">
                    <div>
                        <span>총<th:block th:text="${adminPagination.total} +'개'">
                        </th:block></span>
                        <button onclick="deletePlog()" class="deleteBtn">삭제</button>
                    </div>
                </div>
                <form action="#" class = "deleteForm">
                    <input type = "hidden" name = "page" value = "${criteria.page}">
                    <input type = "hidden" name = "type" value = "${criteria.type}">
                    <input type = "hidden" name = "keyword" value = "${criteria.keyword}">
                    <table class="plogTable">
                        <thead>
                        <tr class="tableTh" style="border-top:3px solid #6e6e6e;">
                            <td class = "inputCheckBoxAllBtn"><input class="inputCheckBoxAll"type="checkbox"></td>
                            <td>플로깅 번호</td>
                            <td>주최자</td>
                            <td>주최 날짜</td>
                            <td>위치</td>
                            <td>보상</td>
                            <td>참가인원</td>
                            <!--신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>상태</td>
                            <td>신청서</td>
                        </tr>
                        </thead>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>마린보이</td>
                            <td>2023-05-15</td>
                            <td>부산 해운대</td>
                            <td>완주시 휴지 1롤</td>
                            <td>16/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>모집중</td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                        </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>마린보이</td>
                            <td>2023-05-15</td>
                            <td>부산 해운대</td>
                            <td>완주시 휴지 1롤</td>
                            <td>16/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td><a th:href="@{floging-estimate}"><button type="button" class = "register-estimate-btn">신청중</button></a></td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-estimate-btn">상세보기</button></a></td>
                        </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>홍길이</td>
                            <td>2023-05-15</td>
                            <td>서울 역삼역</td>
                            <td>완주시 휴지 1롤</td>
                            <td>16/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td><a th:href="@{floging-estimate}"><button type="button" class = "register-estimate-btn">신청중</button></a></td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-estimate-btn">상세보기</button></a></td>
                        </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>산맥</td>
                            <td>2023-05-10</td>
                            <td>강원도 태백</td>
                            <td>완주시 휴지 10롤</td>
                            <td>20/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>모집중</td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                        </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>마린보이</td>
                            <td>2023-05-15</td>
                            <td>부산 해운대</td>
                            <td>완주시 휴지 10롤</td>
                            <td>20/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>모집종료</td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                        </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>비행기</td>
                            <td>2023-05-02</td>
                            <td>대구 동성로</td>
                            <td>완주시 휴지 8롤</td>
                            <td>26/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>모집종료</td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                        </tr><tr>
                        <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                        <td>1</td>
                        <td>딴딴보이</td>
                        <td>2023-05-01</td>
                        <td>인천 을왕리</td>
                        <td>완주시 휴지 2롤</td>
                        <td>0/30</td>
                        <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                        <td>기각</td>
                        <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                    </tr><tr>
                        <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                        <td>1</td>
                        <td>마린보이</td>
                        <td>2023-05-15</td>
                        <td>부산 해운대</td>
                        <td>완주시 휴지 1롤</td>
                        <td>16/30</td>
                        <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                        <td>모집중</td>
                        <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                    </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>마린보이</td>
                            <td>2023-05-15</td>
                            <td>부산 해운대</td>
                            <td>완주시 휴지 1롤</td>
                            <td>16/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>모집중</td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                        </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>마린보이</td>
                            <td>2023-05-15</td>
                            <td>부산 해운대</td>
                            <td>완주시 휴지 1롤</td>
                            <td>16/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>모집중</td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                        </tr>
                        <tr>
                            <td class = "inputCheckBoxBtn"><input class="inputCheckBox"type="checkbox"></td>
                            <td>1</td>
                            <td>마린보이</td>
                            <td>2023-05-15</td>
                            <td>부산 해운대</td>
                            <td>완주시 휴지 1롤</td>
                            <td>16/30</td>
                            <!-- 신청중,모집중,모집종료,기각),신청중 상태에서만 버튼으로 만들어 신청서 볼수 있게 만들기 -->
                            <td>모집중</td>
                            <td><a th:href="@{floging-detail}"><button type="button" class = "register-detail-btn">상세보기</button></a></td>
                        </tr>


                        <tbody>
                        </tbody>
                    </table>
                </form>
                <!-- [S] 페이지 컨트롤러 -->
                <div class="page-controller-wrap">
                    <!-- 이전 버튼 -->
                    <a th:if="${adminPagination.prev}" th:href="${adminPagination.startPage -1}"
                       class="change-page page-list page-list-move page-before">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGElEQVR42mNgAIPi/8X/4QwwE5PBQJADAAKSG3cyVhtXAAAAAElFTkSuQmCC"
                             alt="이전 페이지로 이동하기 아이콘">
                    </a>
                    <th:block th:each="page:${#numbers.sequence(adminPagination.startPage, adminPagination.endPage)}">
                        <a th:if="${page eq adminPagination.page}" class="page-list list-first"
                           th:text="${page}"></a>
                        <a th:unless="${page eq adminPagination.page}" th:href="${page}"
                           class="change-page page-list page-list-first list-on" th:text="${page}"></a>
                    </th:block>
                    <!-- 다음 페이지로 이동하기 -->
                    <a th:if="${adminPagination.next}" th:href="${adminPagination.endPage + 1}"
                       class="change-page page-list page-list-move page-after">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAHCAQAAABqrk9lAAAAGUlEQVR42mMo/l/8nwECQEwCHEwGhAlRBgA2mht3SwgzrwAAAABJRU5ErkJggg=="
                             alt="다음 페이지로 이동하기 아이콘">
                    </a>
                </div>
                <!-- [E] 페이지 컨트롤러 -->
            </div>
        </div>
    </section>
    <form action="#" name = "page-form">
        <input id="page" type = "hidden" name = "page" value = "${criteria.page}">
        <input type = "hidden" name = "type" value = "${criteria.type}">
        <input type = "hidden" name = "keyword" value = "${criteria.keyword}">
    </form>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/side-bar.js"></script>
<script th:inline="javascript">
    let ploggings = [[${ploggings}]];
    let adminPagination = [[${adminPagination}]];
</script>

</html>
