<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="/css/admin/notice-form.css" rel="stylesheet">
    <link href="/css/admin/side-nav.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="wrap">
    <!-- header -->
    <div class="header">
        <div class="logoImage">
            <a href="#"><img src="/image/logo.png"></a>
        </div>
        <div class="title">
            <div>
                <span class="ChangeTitle">상품 등록</span>
            </div>
            <span><small>관리자모드</small></span>
        </div>
    </div>


    <!--mainSidebar -->
    <section class="mainContainer">
        <!--side bar-->
        <nav>
            <ul class="mainNav">
                <li><a th:href="@{amdin}">관리자 계정 관리</a></li>
                <li><a th:href="@{main}">메인 관리</a></li>
                <li><a th:href="@{member}">회원 관리</a></li>
                <li><a th:href="@{product}">상품 관리</a></li>
                <li><a th:href="@{product-form}">상품 등록</a></li>
                <li><a th:href="@{flogging}">플로깅 목록</a></li>
                <li><a th:href="@{notice}">공지 사항</a></li>
                <li><a th:href="@{notice-form}">공지 사항 작성</a></li>
                <li><a th:href="@{qna}">문의 목록</a></li>
            </ul>
        </nav>

        <!--mainScreen 공지사항 작성하기-->
        <div class="mainContent">

            <div class="content-wrap">

                <!-- [S] 공지사항 등록 -->
                <form action="./product.html" method="post" class="submit-form">
                    <div class="con-write-wrap">
                        <div class="notice-write">
                            <div class="write-title">상품명</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" placeholder="상품명을 적어주세요.">
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">상품 설명</div>
                            <div class="write-sec">
                                <textarea style="height: 120px;" class="write-text write-notice" type="text" placeholder="상품 설명을 적어주세요."></textarea>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="select-boxes-title">지역,카테고리</div>
                            <div class="write-sec">
                                <select style=" margin-right: 10px;">
                                    <option>전체</option>
                                    <option>지역</option>
                                </select>
                                <select>
                                    <option>전체</option>
                                    <option>카테고리</option>
                                </select>
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">사용 가능처</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="text" placeholder="사용 가능처를 적어주세요.">
                            </div>
                        </div>
                        <div class="notice-write">
                            <div class="write-title">수량(숫자만)</div>
                            <div class="write-sec">
                                <input class="write-text write-input" type="number" placeholder="수량을 적어주세요.">
                            </div>
                        </div>


                        <div class="notice-write">
                            <div class="write-title" >가격(숫자만)</div>
                            <div class="write-sec">
                                <input class="write-text write-input " type="number" placeholder="가격을 적어주세요.">
                            </div>
                        </div>




                        <div class="notice-write">
                            <div class="representing-title">대표사진</div>
                            <div class="write-sec notice-img-sec">
                                <div class="notice-images-list">
                                    <div class="notice-img thum-img"></div>
                                    <div class="notice-img">
                                        <div class="cancel">X</div>
                                    </div>
                                </div>
                                <label for="attach">
                                    <div class="search-notice-img">찾아보기</div>
                                </label>
                                <input type="file" class="file" id="attach" style="display: none;" name= "upload" >
                            </div>
                        </div>
                    </div>
                    <!-- [E] 공지사항 등록 -->


                    <!-- 작성하기 btn -->
                    <div class="write-btn-wrap">
                        <button type="button" class="btn btn-list"><a href="./product.html">취소 하기</a></button>
                        <button type="button" class="btn btn-write">상품 등록</button>
                    </div>
                </form>

            </div>


        </div>

    </section>
    <!-- [E] mainSidebar -->


</div>
<!-- [E] wrap -->

</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/side-bar.js"></script>
<script src="/js/admin/product-form.js"></script>
</html>