<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>side-bar</title>
    <link href="/css/admin/side-nav.css" rel="stylesheet">

</head>
<body>
<nav>
    <ul class="mainNav">
<!--        <li><a href="./main.html">메인 관리</a></li>-->
<!--        <li><a href="./member.html">회원 관리</a></li>-->
<!--        <li><a href="product.html" >상품 관리</a></li>-->
<!--        <li><a href="product-form.html" >상품 등록</a></li>-->
<!--        <li><a href="./floging.html" >플로깅 목록</a></li>-->
<!--        <li><a href="./notice.html" >공지 사항</a></li>-->
<!--        <li><a href="./notice-form.html" >공지 사항 작성</a></li>-->
<!--        <li><a href="./qna.html" >문의 목록</a></li>-->
        <li><a href="@{/amdin}">관리자 계정 관리</a></li>
        <li><a th:href="@{/main}">메인 관리</a></li>
        <li><a th:href="@{/member}">회원 관리</a></li>
        <li><a th:href="@{/product}">상품 관리</a></li>
        <li><a th:href="@{/product-form}">상품 등록</a></li>
        <li><a th:href="@{/flogging}">플로깅 목록</a></li>
        <li><a th:href="@{/notice}">공지 사항</a></li>
        <li><a th:href="@{/notice-form}">공지 사항 작성</a></li>
        <li><a th:href="@{/qna}">문의 목록</a></li>

    </ul>
</nav>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/admin/side-bar.js"></script>
</html>

