<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>side-bar</title>
    <link href="../../static/css/admin/side-nav.css" rel="stylesheet">

</head>
<body>
<nav>
    <ul class="mainNav">
        <li><a href="./admin.html">관리자 계정 관리</a></li>
        <li><a href="./main.html">메인 관리</a></li>
        <li><a href="./member.html">회원 관리</a></li>
        <li><a href="product.html" >상품 관리</a></li>
        <li><a href="product-form.html" >상품 등록</a></li>
        <li><a href="./floging.html" >플로깅 목록</a></li>
        <li><a href="./notice.html" >공지 사항</a></li>
        <li><a href="./notice-form.html" >공지 사항 작성</a></li>
        <li><a href="./qna.html" >문의 목록</a></li>

    </ul>
</nav>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="../../static/js/admin/side-bar.js"></script>
</html>

