<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>로컬크리에이터 후기 목록</title>
</head>
<style>
    button.orderActive{
        color: #2e2e2e;
        border: 2px solid #2e2e2e;
        background-color: #9e9e9e;
    }
</style>
<link rel="stylesheet" href="../../static/css/review/user_review_list.css">

<body>
<div class="css-b3oum6">
    <div class="layout">
        <hr class="e18r2nwe1 css-13l0bfx">
        <div class="e1gt23lz1 css-12un3nt list-input">
            <div class="filter css-kwstsq el60dcz0">
                <div class="filter-bar">
                    <div class="filter-bar__control-list">
                        <ul class="filter-bar__control-list__left">
                            <li class="filter-bar__control-list__item filter-bar__control-list__item--icon">
                                <button class="filter-bar__control-list__icon" type="button" title="필터 전체">
                                    <svg class="icon" width="24" height="24" viewBox="0 0 24 24" preserveAspectRatio="xMidYMid meet">
                                        <path fill="#BDBDBD" d="M18.284 4H5.716a.7.7 0 0 0-.61.362.668.668 0 0 0 0 .724l3.963 6.978c.353.632.97 1.348.971 2.076v6.181c.002.24-.054.388.149.558.203.17.343.118.444.095l3.29-1.257c.283-.095.321-.369.317-.676v-4.9c0-.73.338-1.445.69-2.077l3.963-6.978a.668.668 0 0 0 0-.724.7.7 0 0 0-.61-.362z"></path>
                                    </svg>
                                </button>
                            </li>
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp최신순&nbsp
                                    </button>
                                </div>
                            </li>
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp최근 인기순&nbsp
                                    </button>
                                </div>
                            </li>
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp팔로워 순&nbsp
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="filter-bar__tag-list"></ul>
                </div>
            </div>
            <div class="css-1ljcge9 e1gt23lz0">
                <!--전체개수 타임리프로 넣던가 그냥 값을 꽂아넣던가 해야함-->
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/review/local-review.js"></script>
<script th:inline="javascript">
    let reviews = [[${reviews}]];
    let nowPage = [[${pagination.page}]]
    let order = [[${search.order}]]
</script>
<script>
    $button = $("button.button");
    $button.on("click", function () {
        $button.removeClass("orderActive");
        $(this).addClass("orderActive");
    });
</script>
</html>