<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<link rel="stylesheet" href="../../static/css/review/user_review_list.css">

<body>
<div class="css-b3oum6">
    <div class="layout">
        <hr class="e18r2nwe1 css-13l0bfx">
        <div class="e1gt23lz1 css-12un3nt">
            <div class="filter css-kwstsq el60dcz0">
                <div class="filter-bar">
                    <div class="filter-bar__control-list">
                        <ul class="filter-bar__control-list__left">
                            <li class="filter-bar__control-list__item filter-bar__control-list__item--icon">
                                <button class="filter-bar__control-list__icon" type="button" title="필터 전체">
                                    <svg class="icon" width="24" height="24" viewBox="0 0 24 24"
                                         preserveAspectRatio="xMidYMid meet">
                                        <path fill="#BDBDBD"
                                              d="M18.284 4H5.716a.7.7 0 0 0-.61.362.668.668 0 0 0 0 .724l3.963 6.978c.353.632.97 1.348.971 2.076v6.181c.002.24-.054.388.149.558.203.17.343.118.444.095l3.29-1.257c.283-.095.321-.369.317-.676v-4.9c0-.73.338-1.445.69-2.077l3.963-6.978a.668.668 0 0 0 0-.724.7.7 0 0 0-.61-.362z"></path>
                                    </svg>
                                </button>
                            </li>
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp최신순&nbsp
                                    </button>
                                </div>
                            </li>
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp최근 인기순&nbsp
                                    </button>
                                </div>
                            </li>
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp팔로워 순&nbsp
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="filter-bar__tag-list"></ul>
                </div>
            </div>
            <div class="css-1ljcge9 e1gt23lz0">전체 200</div>
            <div class="css-xy5hx5 erfbhrp0"
                 style="padding-top: 0px; transform: translateY(0px);">
                <div class="item"><a href="/interior3ds/642b8b6f176b1d16aebc302a">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/168057505001286882.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/168057505001286882.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/168057505001286882.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/168057505001286882.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                            <span class="project-feed__item__image__new" aria-label="NEW"><svg class="icon" width="36"
                                                                                               height="20"
                                                                                               viewBox="0 0 36 20"
                                                                                               preserveAspectRatio="xMidYMid meet"><g
                                    fill="none" fill-rule="evenodd"><rect width="36" height="20" fill="#FDBD39"
                                                                          rx="4"></rect><path fill="#FFF"
                                                                                              fill-rule="nonzero"
                                                                                              d="M6 14V6h1.668l3.446 5.644h.036V6h1.318v8h-1.475L7.354 7.97h-.036V14H6zm8.414 0V6h5.174v1.131h-3.687v2.193h2.865v1.12h-2.865v2.425h3.76V14h-5.247zm8.317 0l-2.067-8h1.511l1.414 5.924h.037L25.318 6h1.21l1.667 5.924h.037L29.658 6H31l-2.03 8h-1.476l-1.62-5.808h-.036L24.194 14H22.73z"></path></g></svg></span>
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">나만의 작은 방, 블랙 컬러 인테리어로 무드
                            있게!</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                    class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">dd_archive.1</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 16<span class="css-4vnul8 e1e2zisd8">조회 6,542</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.09.01</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63eaf908f7850710f928f683">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167634326724977522.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167634326724977522.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167634326724977522.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167634326724977522.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                            <span class="project-feed__item__image__new" aria-label="NEW"><svg class="icon" width="36"
                                                                                               height="20"
                                                                                               viewBox="0 0 36 20"
                                                                                               preserveAspectRatio="xMidYMid meet"><g
                                    fill="none" fill-rule="evenodd"><rect width="36" height="20" fill="#FDBD39"
                                                                          rx="4"></rect><path fill="#FFF"
                                                                                              fill-rule="nonzero"
                                                                                              d="M6 14V6h1.668l3.446 5.644h.036V6h1.318v8h-1.475L7.354 7.97h-.036V14H6zm8.414 0V6h5.174v1.131h-3.687v2.193h2.865v1.12h-2.865v2.425h3.76V14h-5.247zm8.317 0l-2.067-8h1.511l1.414 5.924h.037L25.318 6h1.21l1.667 5.924h.037L29.658 6H31l-2.03 8h-1.476l-1.62-5.808h-.036L24.194 14H22.73z"></path></g></svg></span>

                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">첫 이사, 세 개의 공간으로 꾸민
                            원룸라이프</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/9469405?affect_type=ProjectSelfIndex&amp;affect_id=2"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168369386649327472.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168369386649327472.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168369386649327472.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168369386649327472.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">줄리첼리</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 26<span class="css-4vnul8 e1e2zisd8">조회 16,356</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.13</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63db58d478c80a271d2a003b">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167531925097572620.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167531925097572620.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167531925097572620.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167531925097572620.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                            <span class="project-feed__item__image__new" aria-label="NEW"><svg class="icon" width="36"
                                                                                               height="20"
                                                                                               viewBox="0 0 36 20"
                                                                                               preserveAspectRatio="xMidYMid meet"><g
                                    fill="none" fill-rule="evenodd"><rect width="36" height="20" fill="#FDBD39"
                                                                          rx="4"></rect><path fill="#FFF"
                                                                                              fill-rule="nonzero"
                                                                                              d="M6 14V6h1.668l3.446 5.644h.036V6h1.318v8h-1.475L7.354 7.97h-.036V14H6zm8.414 0V6h5.174v1.131h-3.687v2.193h2.865v1.12h-2.865v2.425h3.76V14h-5.247zm8.317 0l-2.067-8h1.511l1.414 5.924h.037L25.318 6h1.21l1.667 5.924h.037L29.658 6H31l-2.03 8h-1.476l-1.62-5.808h-.036L24.194 14H22.73z"></path></g></svg></span>

                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">4인가족이 살고있는 원목 가구 인테리어</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">서울특별시 어쩌구저쩌구</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 49<span class="css-4vnul8 e1e2zisd8">조회 11,899</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.09.01</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63d35d78a147a77300677dea">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167479250738764651.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167479250738764651.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167479250738764651.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167479250738764651.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">1.8평 작은 방 나만의 감성 눌러
                            담기🙌</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">위치</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 38<span class="css-4vnul8 e1e2zisd8">조회 17,817</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63c74e473e110b73d38702b1">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167400552441937308.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167400552441937308.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167400552441937308.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167400552441937308.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">두 아이와 함께 사는 러블리 모던 하우스</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 1<span class="css-4vnul8 e1e2zisd8">조회 7,627</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63c4a8e3378c1c3852831e53">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167383190457358018.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167383190457358018.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167383190457358018.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167383190457358018.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">신혼부부의 첫 내집 : 깔끔하고,
                            심플하게!</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 5<span class="css-4vnul8 e1e2zisd8">조회 7,972</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63bcbda85a7c947f2151b59f">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167330822721792851.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167330822721792851.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167330822721792851.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167330822721792851.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">신혼부부의 쓰리룸 모던하우스</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 6<span class="css-4vnul8 e1e2zisd8">조회 6,878</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>

                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63b786679b3b642dc5c90488">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167297141658493547.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167297141658493547.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167297141658493547.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167297141658493547.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">아이와 함께 사는 따뜻하고 포근한 감성의 우드
                            하우스</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 10<span class="css-4vnul8 e1e2zisd8">조회 4,346</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>

                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63b388b80a01cf4ad6d8c292">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167271012275878851.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167271012275878851.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167271012275878851.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167271012275878851.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">작지만 알찬 실평수 8평에서 빌트인 최대한
                            이용하기</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 5<span class="css-4vnul8 e1e2zisd8">조회 7,441</span>
                            </div>

                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63ace0f90a01cf4ad6d8c291">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167227299479852130.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167227299479852130.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167227299479852130.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167227299479852130.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">26형 LH행복주택, 효율적으로 공간분리&amp;활용하기!</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 16<span class="css-4vnul8 e1e2zisd8">조회 8,419</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63aa53c99b3b642dc5c90487">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167210596867396635.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167210596867396635.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167210596867396635.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167210596867396635.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">침실과 거실이 분리된 알찬 싱글라이프</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 3<span class="css-4vnul8 e1e2zisd8">조회 4,113</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63a3a5ca69827f69d16cbe75">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167166719193877275.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167166719193877275.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167166719193877275.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167166719193877275.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">깔끔하고, 미니멀한 신혼 쓰리룸하우스</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/9155146?affect_type=ProjectSelfIndex&amp;affect_id=0"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">ohjooon</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 13<span class="css-4vnul8 e1e2zisd8">조회 8,931</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63a282ff899d595d3f1e9f95">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167159376079788125.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167159376079788125.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167159376079788125.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167159376079788125.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">필요한 것만 착착, 4년차 신혼부부의 집</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/9155146?affect_type=ProjectSelfIndex&amp;affect_id=0"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168227425486275088.JPG?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">ohjooon</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 7<span class="css-4vnul8 e1e2zisd8">조회 3,551</span>
                                <div class="css-iadmuc e1e2zisd3">
                                    <span class="css-4vnul9 e1e2zisd8">2023.09.01</span>
                                </div>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/63a10d5d51afbd5af9b1a1ac">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167141953158154696.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167141953158154696.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167141953158154696.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167141953158154696.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">클래식한 무드의 4룸 신혼하우스</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 1
                                <span class="css-4vnul8 e1e2zisd8">조회 3,069</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.09.01</span>
                            </div>
                        </div>
                    </article>
                </a></div>
                <div class="item"><a href="/interior3ds/639a86031a8aa5231cd46257">
                    <article class="css-1evwse1 e1e2zisd6">
                        <div class="css-1hnq8aw e1e2zisd5"><img class="css-j9woce e1e2zisd7" alt="대표 이미지"
                                                                src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167106898218680345.png?gif=1&amp;w=480&amp;h=320&amp;c=c&amp;q=80&amp;webp=1"
                                                                srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167106898218680345.png?gif=1&amp;w=640&amp;h=427&amp;c=c&amp;q=80&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167106898218680345.png?gif=1&amp;w=850&amp;h=567&amp;c=c&amp;q=80&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/interior3ds/167106898218680345.png?gif=1&amp;w=1280&amp;h=854&amp;c=c&amp;q=80&amp;webp=1 3x">
                        </div>
                        <div class="css-1647809 e1e2zisd4"><h2 class="css-z2d3s1 e1e2zisd2">공간을 넓게 활용한 미니멀 20평대 하우스</h2>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                <span
                                        class="project-feed__item__writer__name">경기도 용인시 기흥구 중동</span></a></address>
                            <address class="project-feed__item__writer-wrap"><a class="project-feed__item__writer"
                                                                                href="/users/5670974?affect_type=ProjectSelfIndex&amp;affect_id=3"><img
                                    class="project-feed__item__writer__image" alt=""
                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1"
                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168164295844854881.jpeg?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x"><span
                                    class="project-feed__item__writer__name">garden__day</span></a></address>
                            <div class="css-iadmuc e1e2zisd3">좋아요 7<span class="css-4vnul8 e1e2zisd8">조회 5,971</span>
                            </div>
                            <div class="css-iadmuc e1e2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">2023.05.12</span>
                            </div>
                        </div>
                    </article>
                </a></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>