<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>플로깅 참가자 후기 목록</title>
    <style>
        button.button:hover{
            color: #FFFFFF;
            border: 2px solid #FFFFFF;
            background-color: #3B7661;
        }
        button.mainBtn:hover{
            color: #FFFFFF;
            border: 2px solid #FFFFFF;
            background-color: #3B7661;
        }
        button.orderActive{
            color: #FFFFFF;
            border: 2px solid #FFFFFF;
            background-color: #7aab9a;
        }
    </style>
</head>
<link rel="stylesheet" href="/css/review/user_review_list.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
<link href="/css/font.css" rel="stylesheet"/>
<link rel="stylesheet" href="/css/header-footer/header.css">

<body>
<th:block th:replace="/header-footer/header::header"></th:block>
<div class="css-b3oum6">
    <div class="layout">
        <div class="e18r2nwe4 css-12un3nt">
            <div class="css-bh7d0o e18r2nwe2">
                <div class="css-hhf500 e18r2nwe0">
                    <button th:href="@{/review/local_review_list}" class="mainBtn css-hhk5mj">로컬 크리에이터 후기</button>
                </div>
                <div class="css-hhf500 e18r2nwe0">
                    <button th:href="@{/review/user_review_list}" class="mainBtn css-hhk5mj">플로깅 참가자 후기 목록</button>
                </div>
            </div>
        </div>
        <hr class="e18r2nwe1 css-13l0bfx">
        <div class="e1gt23lz1 css-12un3nt">
            <div class="filter css-kwstsq el60dcz0">
                <div class="filter-bar">
                    <div class="filter-bar__control-list">
                        <ul class="filter-bar__control-list__left">
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button href="recent"
                                            class="button order button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp최신순&nbsp
                                    </button>
                                </div>
                            </li>
                            <li class="filter-bar__control-list__item">
                                <div class="drop-down panel-drop-down filter-bar-control">
                                    <button href="popular"
                                            class="button order button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">
                                        &nbsp인기순&nbsp
                                    </button>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <ul class="filter-bar__tag-list"></ul>
                </div>
            </div>
            <div class="css-1ljcge9 e1gt23lz0"></div>
            <div class="item-list"></div>
        </div>
    </div>

</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script>
    $button = $("button.button");
    $button.on("click", function () {
        $button.removeClass("orderActive");
        $(this).addClass("orderActive");
    });

    $mainbutton = $("button.mainBtn");
    $mainbutton.on("click", function () {
        $mainbutton.removeClass("orderActive");
        $(this).addClass("orderActive");
    });
</script>
<script th:inline="javascript">
    let reviews =[[${reviews}]];
</script>
</html>