<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>floc</title>
    <link rel="stylesheet" href="/css/main/main.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/header-footer/header.css">
    <link rel="stylesheet" href="/css/header-footer/footer.css">
    <link rel="stylesheet" href="/css/header-footer/header-login.css">
</head>

<body>
<th:block th:if="${session.userId==null}">
    <header class="header" th:replace="~{/header-footer/header :: header}"></header>
</th:block>
<th:block th:if="${session.userId!=null}">
    <header class="header" th:replace="~{/header-footer/header-login :: header}"></header>
</th:block>
<div class="e1ixivdu2 css-139mcwb">
    <div class="css-1micng0 e1ixivdu1">
        <section class="css-12oi7vi e10oizx47" style="height: 10rem">
            <a class="css-j2pfbl e10oizx46" href="/projects/140166/detail?affect_type=Home&amp;affect_id=0">
                <img src="https://static.wixstatic.com/media/542f06_d565ee9486314c93be97b1b56121c6ea~mv2_d_5760_3840_s_4_2.jpg/v1/fill/w_925,h_616,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/542f06_d565ee9486314c93be97b1b56121c6ea~mv2_d_5760_3840_s_4_2.jpg" style="width: 100%; height:100%">
                <div class="css-5ycwsz e10oizx44"><p class="css-1n3vfvi e10oizx43">해양 환경을 위한 아름다운 달리기, '웨이브 플로깅</p>
                    <span class="css-4juikq e10oizx42">
<!--                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168412031012486070.jpeg?w=36&amp;h=36&amp;c=c" srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168412031012486070.jpeg?w=36&amp;h=36&amp;c=c 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168412031012486070.jpeg?w=72&amp;h=72&amp;c=c 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168412031012486070.jpeg?w=72&amp;h=72&amp;c=c 3x" class="e10oizx41 css-10uialf">-->
                        <span class="css-13ozlut e10oizx40">지난 9월 15일 토요일! 와일드웨이브 X 웨이브유니온의 캠페인, "웨이브 플로깅(Wave
                            Plogging)"이 진행되었습니다.</span>
                    </span>
                </div>
            </a>
        </section>
    </div>
    <!--        <div class="css-16kxepb e1ixivdu0">-->
    <!--            <section class="css-9q9c2c e16smlzu1">-->
    <!--                <div class="carousel css-dq95ae e16smlzu0" role="region" aria-roledescription="carousel">-->
    <!--                    <div class="carousel__list-wrap css-bzeli0">-->
    <!--                        <div class="carousel__list css-13udsys" aria-live="off" style="transform: translateX(-100%); transition: transform 0.35s ease 0s;">-->
    <!--                            <div class="carousel__list__entry" role="group" aria-roledescription="slide" aria-label="3 of 12" style="width: 100%;">-->
    <!--                                <a class="css-1x4ct07 e1u1jpd1" href="/competitions/950?affect_type=Home&amp;affect_id=0">-->
    <!--                                    <div class="css-2fcjmr eb6kff1">-->
    <!--                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC" class="e1u1jpd0 css-h9ang" alt="">-->
    <!--                                    </div>-->
    <!--                                    <div class="css-9twip6 eb6kff0">-->
    <!--                                        <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/168387780528898344.png?w=360" srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/168387780528898344.png?w=480 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/168387780528898344.png?w=640 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/banners/home_banner/168387780528898344.png?w=850 3x" class="e1u1jpd0 css-1plfygl">-->
    <!--                                    </div>-->
    <!--                                </a>-->
    <!--                            </div>-->
    <!--                            <div class="carousel__list__entry" role="group" aria-roledescription="slide" aria-label="4 of 12" style="width: 100%;">-->
    <!--                                <a class="css-1x4ct07 e1u1jpd1" href="/exhibitions/10864?affect_type=Home&amp;affect_id=0">-->
    <!--                                    <div class="css-2fcjmr eb6kff1">-->
    <!--                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC" class="e1u1jpd0 css-h9ang" alt="">-->
    <!--                                    </div>-->
    <!--                                    <div class="css-9twip6 eb6kff0">-->
    <!--                                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAQSURBVHgBAQUA+v8AAAAAAAAFAAFkeJU4AAAAAElFTkSuQmCC" class="e1u1jpd0 css-h9ang" alt="">-->
    <!--                                    </div>-->
    <!--                                </a>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                    <div class="css-2jwam3 eb6kff1">-->
    <!--                    <span class="css-1oimc7g e16ehcrs0">4&lt;!&ndash; &ndash;&gt; / &lt;!&ndash; &ndash;&gt;12<span class="_add_thick_12 css-mkpa36"></span>-->
    <!--                    </span>-->
    <!--                    </div>-->
    <!--                    <div class="css-1dh3qvh eb6kff0">-->
    <!--                        <div class="e16ehcrs2 css-16je1n8">-->
    <!--                            <button type="button" class="css-5rn9lv">-->
    <!--                                <span class="_chevron_left_24 css-kz9ng2"></span>-->
    <!--                            </button>-->
    <!--                        </div>-->
    <!--                        <div class="e16ehcrs2 css-9ev8gz">-->
    <!--                            <button type="button" class="css-5rn9lv"><span class="_chevron_right_24 css-kz9ng2">-->

    <!--                </span>-->
    <!--                            </button>-->
    <!--                        </div>-->
    <!--                        <span class="e16ehcrs1 css-junuwq"><span class="css-1lsftlb">4&lt;!&ndash; &ndash;&gt;/&lt;!&ndash; &ndash;&gt;12</span><span class="_add_thick_12 css-1k130iy"></span></span>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </section>-->
    <!--        </div>-->
</div>
<!--    상품목록-->
<div class="e4cq32f2 css-1obbfpy">
    <button type="button" class="=css-av2k9l" onclick="location.href='/mypage/my-product'">My Coupon</button>
    <div class="css-gkfaqp e4cq32f1">
        <div class="e4cq32f2 css-1obbfpy">
            <div class="css-14vj981">
                <div class="css-dlv2hg">
                    <a href="/product/product-list">
                        <div class="css-147wp72">
                            <strong class="css-1d0kvw3">상품 목록~🍎
                            </strong>
                        </div>
                    </a>
                </div>
                <div class="css-7z0c8w">
                    <a href="/product/product-list">
                        <button type="button" class="css-av2k9l">더보기</button>
                    </a>
                </div>

            </div>
            <div class="css-gkfaqp e4cq32f1">
                <div class="css-70b3yb e7clyrt0 plogging-list">
                    <!-- 목록 1개  -->
                    <div class="css-fyyvpx e1fm144d2">
                        <div class="e1fm144d7 css-wpil38 e193wc2k3">
                            <!--before위치-->
                            <img src="/image/product/경북김천샤인머스캣.png" class="e193wc2k2 css-gnpvt2 css-a0qkmc">
                        </div>
                        <div class="css-ou7uck e1fm144d3">
                            <p class="css-vbg47w e1rx0k8j1">
                                <span class="css-1opz4n5 e1rx0k8j0">경상북도 김천 샤인머스캣</span>
                            </p>
                            <address class="project-feed__item__writer-wrap">
                                <a class="project-feed__item__writer" href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1">
                                    <img class="project-feed__item__writer__image" alt="" src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                    <span class="project-feed__item__writer__name">경상북도</span>
                                </a>
                            </address>
                            <address class="project-feed__item__writer-wrap">
                                <a href="/interior3ds/642b8b6f176b1d16aebc302a"></a>
                                <a class="project-feed__item__writer" href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1">
                                    <img class="project-feed__item__writer__image" alt="" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1" srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x">
                                    <span class="project-feed__item__writer__name">관리자</span>
                                </a>
                            </address>
                            <div class="css-iadmuc e1e2zisd3">각격 : 휴지롤 300개
                                <span class="css-4vnul8 e1e2zisd8">재고 : 20개</span>
                            </div>
                        </div>
                        <a class="css-11ab5xd e1fm144d0" href="/projects/139475/detail?affect_type=Home&amp;affect_id=0"></a>
                    </div>
                </div>
            </div>
            <div class="css-14vj981">
                <div class="css-dlv2hg">
                    <a href="/plogging/plogging">
                        <div class="css-147wp72">
                            <strong class="css-1d0kvw3">플로깅 모여라~ 🏡</strong>
                        </div>
                    </a>
                </div>


                <div class="css-7z0c8w">
                    <a href="/plogging/plogging">
                        <button type="button" class="css-av2k9l">더보기</button>
                    </a>
                </div>
            </div>
            <div class="css-gkfaqp e4cq32f1">
                <div class="css-70b3yb e7clyrt0 plogging-list">
                    <!-- 목록 1개  -->
                    <div class="css-fyyvpx e1fm144d2">
                        <div class="e1fm144d7 css-wpil38 e193wc2k3">
                            <!--before위치-->
                            <img src="/image/t_47b_플로깅4.png" class="e193wc2k2 css-gnpvt2 css-a0qkmc">
                        </div>
                        <div class="css-ou7uck e1fm144d3">
                            <p class="css-vbg47w e1rx0k8j1">
                                <span class="css-1opz4n5 e1rx0k8j0">서울 역삼역 3번출구 앞 플로깅</span>
                            </p>
                            <address class="project-feed__item__writer-wrap">
                                <a class="project-feed__item__writer" href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1">
                                    <img class="project-feed__item__writer__image" alt="" src="https://www.wishbeen.co.kr/geo.922951f5cf1908d9.svg">
                                    <span class="project-feed__item__writer__name">서울특별시</span>
                                </a>
                            </address>
                            <address class="project-feed__item__writer-wrap">
                                <a href="/interior3ds/642b8b6f176b1d16aebc302a"></a>
                                <a class="project-feed__item__writer" href="/users/5921670?affect_type=ProjectSelfIndex&amp;affect_id=1">
                                    <img class="project-feed__item__writer__image" alt="" src="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=36&amp;h=36&amp;c=c&amp;webp=1" srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=72&amp;h=72&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/users/profile_images/168186561821130322.png?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1 3x">
                                    <span class="project-feed__item__writer__name">이민형</span>
                                </a>
                            </address>
                            <div class="css-iadmuc e1e2zisd3">보상휴지롤 10개
                                <span class="css-4vnul8 e1e2zisd8">참가인원  1/30</span>
                            </div>
                            <div class="css-iadmuc ele2zisd3">
                                <span class="css-4vnul9 e1e2zisd8">시작 날짜 2023.06.02</span>
                            </div>
                        </div>
                        <a class="css-11ab5xd e1fm144d0" href="/projects/139475/detail?affect_type=Home&amp;affect_id=0"></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- 상품목록-->
        <!-- 플로깅 목록 -->

    </div>
    <!-- 후기 목록 -->
    <div class="e4cq32f2 css-1obbfpy">
        <div class="css-14vj981">
            <div class="css-dlv2hg">
                <a href="/review/user_review_list">
                    <div class="css-147wp72">
                        <strong class="css-1d0kvw3">플로깅 다녀온 후기</strong>
                    </div>
                </a>
            </div>
            <div class="css-7z0c8w">
                <a href="/review/user_review_list">
                    <button type="button" class="css-av2k9l">더보기</button>
                </a>
            </div>
        </div>
        <div class="css-gkfaqp e4cq32f1">
            <div class="css-dx7vvx e7clyrt0 review-list"></div>
        </div>
    </div>
    <!-- 후기 목록 --></div>
</div>


<!-- 푸터 -->
<footer th:replace="/header-footer/footer::footer"></footer>
</body>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="/js/banner/banner.js"/>
<script>
    let $bannerbtn = $('.carousel');

    $bannerbtn.mouseover(function () {
        // $('.css-16je1n8').css("opacity", 1);
        $('.e16ehcrs2').css("opacity", 1);
    });

    $bannerbtn.mouseout(() => {
        $('.e16ehcrs2').css("opacity", 0);
    })

    //카테고리 js
    $('#cate-togle').on('click', function (e) {
        $('.category-1').toggle();

        if (e.target.id != "cate-togle") {
            $('.category-1').hide();
        }
    });
    $('#cate-togle1').on('click', function (e) {
        $('.category-2').toggle();

        if (e.target.id != "cate-togle1") {
            $('.category-2').hide();
        }
    });
</script>
<script th:inline="javascript">
    let reviews = [[${reviews}]];
    let products = [[${products}]];
    let ploggings = [[${ploggings}]];
    let nowPage = [[${pagination.page}]];
    let order = [[${search.order}]];
    let userId = [[${session.id}]];
</script>
<!--<script src="/js/main/main-product.js"></script>-->
<script src="/js/main/main-review.js"></script>
<script src="/js/header-footer/header.js"></script>
</html>