<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleag.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="/css/mypage/my-plogging-review.css" rel="stylesheet">
    <link href="/css/notice/notice.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
    <link href="/css/header-footer/header-login.css" rel="stylesheet">
    <link href="/css/header-footer/footer.css" rel="stylesheet">
</head>
<body>

<div class="css-b3oum6">
    <div class="layout">
        <header th:replace="~{/header-footer/header-login}"></header>
        <div class="css-18dsw15 e1ivswjr4">
            <div class="myhome-nav myhome-nav--owner">
                <nav class="page-navigation myhome-nav__owner">
                    <ul style="transform: translateX(0px);">
                        <li class="page-navigation__item"><a class="" href="/mypage/main"
                                                             target="_self">프로필</a></li>
                        <li class="page-navigation__item"><a class="active" href="/mypage/my-host-list"
                                                             target="_self">나의 플로깅</a></li>
                        <li class="page-navigation__item"><a class="" href="/mypage/my-product" target="_self">나의
                            상품</a></li>

                    </ul>
                </nav>
                <nav class="page-navigation myhome-nav__contents">
                    <ul style="transform: translateX(0px);">
                        <li class="page-navigation__item"><a class="active" href="/mypage/my-host-list" target="_self">플로깅 관리</a>
                        </li>
                        <li class="page-navigation__item"><a class="" href="/plogging/plogging-form"
                                                             target="_self">플로깅 모집</a></li>
                        <li class="page-navigation__item"><a class="" href="/mypage/my-local-review"
                                                             target="_self">후기 관리</a></li>
                        <li class="page-navigation__item"><a class="" href="/review/review-form"
                                                             target="_self">후기 작성</a></li>
                    </ul>
                </nav>
            </div>
            <div class="css-1x6h9tu ekbdbra0">
                <div class="css-1mux1hm el2z1iq0">
                    <div class="css-i5en0t e1ivswjr3">
                        <div class="sticky-container"
                             style="position: sticky; top: 80.75px; transition: top 0.1s ease 0s;">
                            <div class="sticky-child" style="position: relative;">
                                <div class="css-0 e1ejty664">
                                    <div class="css-itjaqv e1ejty663">
                                        <div class="css-1xbefvf e1ejty662">
                                            <div class="drop-down css-0 e1ejty661">
                                                <button type="button" aria-pressed="false" aria-label="공유"
                                                        class="css-rmsnvz e1ejty660">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                                                         preserveAspectRatio="xMidYMid meet">
                                                        <path d="M9.64 14.646a4.5 4.5 0 1 1 0-5.292l4.54-2.476a4.5 4.5 0 1 1 .63.795l-4.675 2.55c.235.545.365 1.146.365 1.777s-.13 1.232-.365 1.777l4.675 2.55a4.5 4.5 0 1 1-.63.795l-4.54-2.476zM18 8a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM6 15.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM18 23a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"></path>
                                                    </svg>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="css-hdhsoq e18gdfbl4">
                                            <div class="css-1uebeg0 e18gdfbl3"><img class="css-1cqverl e18gdfbl2"
                                                                                    src="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&amp;w=144&amp;h=144&amp;c=c&amp;webp=1"
                                                                                    srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&amp;w=240&amp;h=240&amp;c=c&amp;webp=1 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&amp;w=320&amp;h=320&amp;c=c&amp;webp=1 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/default_images/avatar.png?gif=1&amp;w=480&amp;h=480&amp;c=c&amp;webp=1 3x">
                                            </div>
                                            <div class="css-oycm3d e18gdfbl1">
                                                <div class="css-n5l119 etfm1it0">돼민지형</div>
                                                <div class="css-oycm3d e1iro1t99">
                                                    <dl class="css-1uy49c8 e1iro1t98">
                                                        <dt class="css-7haicw e1iro1t97">팔로워</dt>
                                                        <dd class="css-7i5a5g e1iro1t96"><a class="css-d2ibel e1iro1t95"
                                                                                            href="/users/20617180/follower">0</a>
                                                        </dd>
                                                        <dt class="css-7haicw e1iro1t97">팔로잉</dt>
                                                        <dd class="css-7i5a5g e1iro1t96"><a class="css-d2ibel e1iro1t95"
                                                                                            href="/users/20617180/followee">0</a>
                                                        </dd>
                                                    </dl>
                                                    <div class="css-0 e1iro1t94"><a
                                                            class="_3Z6oR _1zLQC _1XHs9 css-h9lcdg e1iro1t93"
                                                            href="/users/20617180/edit">설정</a><a
                                                            class="css-gb61jx e1iro1t91" href="/curator/intro">후기 작성하고
                                                        <b>휴지롤 받기</b></a></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="css-1049nre epl9oik0">
                                            <div class="css-134c4us ekeuxnk0"><a class="css-1p9dybm e1q26atk3"
                                                                                 href="/users/20617180/collections">
                                                <div class="css-zpotx6 e1q26atk2">
                                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="currentColor"
                                                         preserveAspectRatio="xMidYMid meet">
                                                        <path fill-rule="evenodd" transform="matrix(1 0 0 -1 0 23.033)"
                                                              d="M12.943 6.342a2 2 0 0 1-1.886 0L3 2.032V20.5a.5.5 0 0 0 .5.5h17a.5.5 0 0 0 .5-.5V2.033l-8.057 4.309zm-.471-.882l8.056-4.31A1 1 0 0 1 22 2.034V20.5a1.5 1.5 0 0 1-1.5 1.5h-17A1.5 1.5 0 0 1 2 20.5V2.033a1 1 0 0 1 1.472-.882l8.056 4.31a1 1 0 0 0 .944 0z"></path>
                                                    </svg>
                                                </div>
                                                <div class="css-10ewlqi e1q26atk1">스크랩북</div>
                                                <div class="css-2rwq1u e1q26atk0">0</div>
                                            </a><a class="css-1p9dybm e1q26atk3" href="/users/20617180/praises">
                                                <div class="css-zpotx6 e1q26atk2">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                         preserveAspectRatio="xMidYMid meet">
                                                        <path fill="currentColor"
                                                              d="M22.971 7.638c-.548-5.17-7.119-7.135-10.57-2.488a.5.5 0 0 1-.802 0C8.148.503 1.577 2.469 1.029 7.625.642 12.451 3.897 17.183 12 21.436c8.104-4.252 11.36-8.984 10.972-13.798zm.996-.093c.428 5.319-3.137 10.446-11.738 14.899a.5.5 0 0 1-.46 0C3.169 17.99-.395 12.864.034 7.532.656 1.67 7.904-.683 12 4.052 16.096-.683 23.344 1.67 23.967 7.545z"></path>
                                                    </svg>
                                                </div>
                                                <div class="css-10ewlqi e1q26atk1">좋아요</div>
                                                <div class="css-2rwq1u e1q26atk0">10</div>
                                            </a><a class="css-1p9dybm e1q26atk3" href="/user_shopping_pages/coupons">
                                                <div class="css-zpotx6 e1q26atk2">
                                                    <svg width="24" height="24" viewBox="0 0 24 24"
                                                         preserveAspectRatio="xMidYMid meet">
                                                        <path fill="#424242" fill-rule="nonzero"
                                                              d="M22.588 3H1.413C.633 3 0 3.638 0 4.426L0 9.53l.605-.088c.12-.017.243-.026.367-.026 1.413 0 2.558 1.157 2.558 2.584S2.385 14.584.972 14.584c-.124 0-.247-.009-.367-.026L0 14.47l.001 5.104C.001 20.362.633 21 1.413 21h21.175c.78 0 1.412-.638 1.412-1.426V4.426C24 3.638 23.368 3 22.588 3zM1.413 4.07h21.175c.195 0 .353.159.353.356v15.148c0 .197-.158.357-.353.357H1.413l-.071-.008c-.161-.033-.282-.176-.282-.349l-.002-3.923-.086.002c1.997 0 3.617-1.635 3.617-3.653l-.004-.182C4.493 9.945 3.006 8.443 1.152 8.35l-.094-.003.002-3.922c0-.197.158-.357.353-.357zm14.646 2.138c.293 0 .53.237.53.53v1.614c0 .292-.237.53-.53.53-.292 0-.53-.238-.53-.53V6.737c0-.292.238-.53.53-.53zm0 4.455c.293 0 .53.237.53.53v1.614c0 .293-.237.53-.53.53-.292 0-.53-.237-.53-.53v-1.614c0-.293.238-.53.53-.53zm0 4.456c.293 0 .53.237.53.53v1.614c0 .292-.237.53-.53.53-.292 0-.53-.238-.53-.53v-1.615c0-.292.238-.53.53-.53z"></path>
                                                    </svg>
                                                </div>
                                                <div class="css-10ewlqi e1q26atk1">내 쿠폰</div>
                                                <div class="css-2rwq1u e1q26atk0">10</div>
                                            </a></div>
                                        </div>
                                    </div>
                                    <a class="css-1sravj e1s6kf711" href="/curator/intro">후기 작성하고 <b>휴지롤 받기</b>
                                        <svg width="1em" height="1em" viewBox="0 0 24 24"
                                             preserveAspectRatio="xMidYMid meet" class="css-1pjipdo e1s6kf710">
                                            <path fill="currentColor" fill-rule="nonzero"
                                                  d="M6 19.692L8.25 22 18 12 8.25 2 6 4.308 13.5 12z"></path>
                                        </svg>
                                    </a></div>
                            </div>
                        </div>
                    </div>
                    <div class="css-1dm5gv7 e15wafbq0">
                        <div class="css-vb69r7 e1ivswjr2"></div>
                    </div>
                    <div class="css-1ltj86z e15wafbq0">
                        <div class="css-1sl5jc2 e1063pje4">
                            <div class="css-0 e1063pje3"><a class="css-ril2vk e1063pje2"
                                                            href="/mypage/my-host-list">내가 주최한 플로깅</a><a
                                    class="css-s4qby9 e1063pje2" href="/mypage/my-participate-list">내가 참여한 플로깅</a></div>
                            <div class="css-0 e1063pje1"><a class="_3Z6oR _3AsCW _1BDvx css-1fi7ukg e1063pje0"
                                                            href="/plogging/plogging-form">플로깅 주최 신청하기</a></div>
                        </div>
                        <div class="css-1w92ebd e1lm7yo61">
                            <div class="virtualized-list row"
                                 style="padding-top: 0px; padding-bottom: 0px; transform: translateY(0px);">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer th:replace="~{/header-footer/footer :: .css-f93bbn}"></footer>
    </div>
</div>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>
<script src="/js/mypage/my-host-list.js"></script>
<script src="/js/mypage/post.js"></script>
<script th:inline="javascript">
    let ploggings = [[${ploggings}]];

</script>
<script src="/js/header-footer/header.js"></script>
</html>