<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>비밀번호 변경</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap"
          rel="stylesheet">
    <link href="../../static/css/font.css" rel="stylesheet">
    <link href="../../static/css/mypage/users.css" rel="stylesheet">
    <link href="../../static/css/mypage/users-edit-password.css" rel="stylesheet">
</head>
</head>
<body>
<div>
    <div class="css-18dsw15 e1ivswjr4">
        <div class="myhome-nav myhome-nav--owner">
            <nav class="page-navigation myhome-nav__owner">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation__item"><a class="active" href="#" target="_self">프로필 설정</a>
                    </li>
                    <li class="page-navigation__item"><a class="" href="#" target="_self">플로깅</a></li>
                    <li class="page-navigation__item"><a class="" href="#" target="_self">나의 휴지롤</a></li>
                </ul>
            </nav>
            <nav class="page-navigation myhome-nav__contents">
                <ul style="transform: translateX(0px);">
                    <li class="page-navigation__item"><a class="" href="#" target="_self">모두보기</a></li>
                    <li class="page-navigation__item"><a class="" href="#" target="_self">회원정보수정</a></li>
                    <li class="page-navigation__item"><a class="active" href="#" target="_self">비밀번호 변경</a></li>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="update-password__wrap"><h1 class="update-password__title">비밀번호 변경</h1>
            <form>
                <div class="update-password__section">
                    <div class="update-password__section__title">새 비밀번호</div>
                    <div class="update-password__section__sub-title">영문, 숫자를 포함한 8자 이상의 비밀번호를 입력해주세요.</div>
                    <div class="expert-form-group__content">
                        <div class="expert-form-group__input"><input type="password" class="form-control" id="new"
                                                                     value=""></div>
                        <div class="expert-form-group__error">
                        </div>
                    </div>
                </div>
                <div class="update-password__section">
                    <div class="update-password__section__title">새 비밀번호</div>
                    <div class="expert-form-group">
                        <div class="expert-form-group__content">
                            <div class="expert-form-group__input"><input type="password" class="form-control" id="check" value="">
                            </div>
                            <div class="expert-form-group__error">
                            </div>
                        </div>
                    </div>
                </div>
                <button class="button button--color-blue button--size-50 button--shape-4 update-password__submit"
                        type="submit">비밀번호 변경
                </button>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    $("#new").on("blur", function() {
        var password = $(this).val();

        // 비밀번호 유효성 검사 조건
        var regex = /^[a-zA-Z0-9]{8,}$/;
        var error = `<svg width="20" height="20" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid meet">
                <circle cx="10" cy="10" r="10" fill="#F77"></circle>
                <path fill="#FFF" d="M9.42 11.98l-.25-4.43-.06-1.67h1.78l-.06 1.67-.25 4.43H9.42zm.58 3.19c-.62 0-1.1-.5-1.1-1.15 0-.65.48-1.16 1.1-1.16.62 0 1.1.5 1.1 1.16 0 .64-.48 1.15-1.1 1.15z"></path>
                </svg>`
        if (password === "") {
            $(".expert-productForm-group__error").eq(0).html(error+"필수 입력 항목입니다.");
            $(".productForm-control").eq(0).addClass('error');
        } else if (!regex.test(password)) {
            $(".expert-productForm-group__error").eq(0).html(error+"비밀번호는 영문, 숫자를 포함하여 8자 이상이어야 합니다.");
            $(".productForm-control").eq(0).addClass('error');
        } else {
            $(".expert-productForm-group__error").eq(0).html("");
            $(".productForm-control").eq(0).removeClass('error');
        }
    });

    $("#check").on("blur", function() {
        var password = $(this).val();
        var ckpw=$('#new').val();
        var error = `<svg width="20" height="20" viewBox="0 0 20 20" preserveAspectRatio="xMidYMid meet">
                <circle cx="10" cy="10" r="10" fill="#F77"></circle>
                <path fill="#FFF" d="M9.42 11.98l-.25-4.43-.06-1.67h1.78l-.06 1.67-.25 4.43H9.42zm.58 3.19c-.62 0-1.1-.5-1.1-1.15 0-.65.48-1.16 1.1-1.16.62 0 1.1.5 1.1 1.16 0 .64-.48 1.15-1.1 1.15z"></path>
                </svg>`
        if (password != ckpw) {
            $(".expert-productForm-group__error").eq(1).html(error+"비밀번호가 일치하지 않습니다.");
            $(".productForm-control").eq(1).addClass('error');
        } else {
            $(".expert-productForm-group__error").eq(1).html("");
            $(".productForm-control").eq(1).removeClass('error');
        }
    });

    $(".update-password__submit").submit(function(){
        let ck=true;
        if($(".expert-productForm-group__error").eq(0).hasclass('error')){
            $(".expert-productForm-group__error").eq(0).focus();
            ck=false;
        }
        else if($(".expert-productForm-group__error").eq(1).hasclass('error')) {
            $(".expert-productForm-group__error").eq(1).focus();
            ck=false
        }
        else {
            alert("비밀번호 변경이 완료되었습니다");
        }
        return ck;
    });
</script>
</html>

