<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 주최한 플로깅 목록</title>
    <link rel="stylesheet" href="../../static/css/main/main.css">
</head>

<body>
<div class="e4cq32f2 css-1obbfpy">
    <div class="css-14vj981">
        <div class="css-dlv2hg">
            <div class="css-147wp72"><strong class="css-1d0kvw3">내가 주최한 플로깅 목록</strong></div>
        </div>

    </div>
    <div class="css-gkfaqp e4cq32f1">
        <div class="css-70b3yb e7clyrt0">
            <!-- 목록 1개  -->
            <div class="css-fyyvpx e1fm144d2">
                <div class="e1fm144d7 css-wpil38 e193wc2k3">
                    <!--before위치--><img
                        src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=360&amp;h=180&amp;c=c"
                        srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=480&amp;h=360&amp;c=c 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=640&amp;h=360&amp;c=c 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=850&amp;h=640&amp;c=c 3x"
                        class="e193wc2k2 css-gnpvt2">
                </div>
                <div class="css-ou7uck e1fm144d3">
                    <p class="css-vbg47w e1rx0k8j1">
                        <span class="css-1opz4n5 e1rx0k8j0">도화지처럼 깨끗하게! </span>아이들과
                        함께하는 30평대 아파트</p>
                </div><a class="css-11ab5xd e1fm144d0"
                         href="/projects/139475/detail?affect_type=Home&amp;affect_id=0"></a>
            </div>
            <!-- 2번쨰 -->
            <div class="css-fyyvpx e1fm144d2">
                <div class="e1fm144d7 css-wpil38 e193wc2k3">
                    <!--before위치--><img
                        src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=360&amp;h=180&amp;c=c"
                        srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=480&amp;h=360&amp;c=c 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=640&amp;h=360&amp;c=c 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=850&amp;h=640&amp;c=c 3x"
                        class="e193wc2k2 css-gnpvt2">
                </div>
                <div class="css-ou7uck e1fm144d3">
                    <p class="css-vbg47w e1rx0k8j1">
                        <span class="css-1opz4n5 e1rx0k8j0">도화지처럼 깨끗하게! </span>아이들과
                        함께하는 30평대 아파트</p>
                </div><a class="css-11ab5xd e1fm144d0"
                         href="/projects/139475/detail?affect_type=Home&amp;affect_id=0"></a>
            </div>
            <div class="css-fyyvpx e1fm144d2">
                <div class="e1fm144d7 css-wpil38 e193wc2k3">
                    <!--before위치--><img
                        src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=360&amp;h=180&amp;c=c"
                        srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=480&amp;h=360&amp;c=c 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=640&amp;h=360&amp;c=c 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=850&amp;h=640&amp;c=c 3x"
                        class="e193wc2k2 css-gnpvt2">
                </div>
                <div class="css-ou7uck e1fm144d3">
                    <p class="css-vbg47w e1rx0k8j1">
                        <span class="css-1opz4n5 e1rx0k8j0">도화지처럼 깨끗하게! </span>아이들과
                        함께하는 30평대 아파트</p>
                </div><a class="css-11ab5xd e1fm144d0"
                         href="/projects/139475/detail?affect_type=Home&amp;affect_id=0"></a>
            </div>
            <div class="css-fyyvpx e1fm144d2">
                <div class="e1fm144d7 css-wpil38 e193wc2k3">
                    <!--before위치--><img
                        src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=360&amp;h=180&amp;c=c"
                        srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=480&amp;h=360&amp;c=c 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=640&amp;h=360&amp;c=c 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=850&amp;h=640&amp;c=c 3x"
                        class="e193wc2k2 css-gnpvt2">
                </div>
                <div class="css-ou7uck e1fm144d3">
                    <p class="css-vbg47w e1rx0k8j1">
                        <span class="css-1opz4n5 e1rx0k8j0">도화지처럼 깨끗하게! </span>아이들과
                        함께하는 30평대 아파트</p>
                </div><a class="css-11ab5xd e1fm144d0"
                         href="/projects/139475/detail?affect_type=Home&amp;affect_id=0"></a>
            </div>
            <div class="css-fyyvpx e1fm144d2">
                <div class="e1fm144d7 css-wpil38 e193wc2k3">
                    <!--before위치--><img
                        src="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=360&amp;h=180&amp;c=c"
                        srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=480&amp;h=360&amp;c=c 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=640&amp;h=360&amp;c=c 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/cards/projects/168138560511525706.jpg?w=850&amp;h=640&amp;c=c 3x"
                        class="e193wc2k2 css-gnpvt2">
                </div>
                <div class="css-ou7uck e1fm144d3">
                    <p class="css-vbg47w e1rx0k8j1">
                        <span class="css-1opz4n5 e1rx0k8j0">도화지처럼 깨끗하게! </span>아이들과
                        함께하는 30평대 아파트</p>
                </div><a class="css-11ab5xd e1fm144d0"
                         href="/projects/139475/detail?affect_type=Home&amp;affect_id=0"></a>
            </div>


        </div>
    </div>
</div>

</body>

</html>