<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>플로깅 목록</title>
    <link rel="stylesheet" href="/css/header-footer/header.css">
    <link rel="stylesheet" href="/css/header-footer/header-login.css">
    <link rel="stylesheet" href="/css/header-footer/footer.css">
    <link rel="stylesheet" href="/css/plogging/plogging.css">
    <link rel="stylesheet" href="/css/font.css">
</head>

<body>
<th:block th:if="${session.userId==null}">
    <header class="header" th:replace="~{/header-footer/header :: header}"></header>
</th:block>
<th:block th:if="${session.userId!=null}">
    <header class="header" th:replace="~{/header-footer/header-login :: header}"></header>
</th:block>
<div class="container">
    <div class="project-feed">
        <!-- 카테고리 -->
        <div class="project-feed__filter">
            <div class="filter-bar">
                <div class="filter-bar__control-list">
                    <!-- button 으로 만들어서 (서울,경기도, 등등) -->
                    <ul class="filter-bar__control-list__left">
                        <li class="filter-bar__control-list__item">
                            <div class="filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">서울/경기도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">강원도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">충청북도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">충청남도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item filter-bar__control-list__item--hide-mobile">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">전라북도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item filter-bar__control-list__item--hide-mobile">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">전라남도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item filter-bar__control-list__item--hide-mobile">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">경상북도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item filter-bar__control-list__item--hide-mobile">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">경상남도</button>
                            </div>
                        </li>
                        <li class="filter-bar__control-list__item filter-bar__control-list__item--hide-mobile">
                            <div class="drop-down panel-drop-down filter-bar-control">
                                <button class="button button--color-gray-4 button--size-50 button--shape-4 filter-bar-control__button">제주도</button>
                            </div>
                        </li>
                    </ul>
                </div>
                <ul class="filter-bar__tag-list"></ul>
            </div>
        </div>
        <!--//filter  -->

        <div class="project-feed_count" style="margin-bottom: 10px;">
            <!--게시물 카운팅-->전체 n
        </div>
        <!-- 무한 스크롤 > -->
        <div class="virtualized-list row" style="padding-top: 0px; padding-bottom: 0px; transform: translateY(0px);">


        </div>
    </div>
</div>
<!--<footer th:replace=""></footer>-->
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function getParameter(name) {
        name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }
</script>
<script>
    $lists = $('li.filter-bar__control-list__item');
    // $list.on("click", function () {
    //     $list.removeClass('liactive');
    //     $(this).addClass('liactive');
    // });

    $("button.filter-bar-control__button").on("click",function() {
        const locate = $(this).text();
        let paraLocal = getParameter('location');
        if(locate==paraLocal)
            location.href=`/plogging/plogging`;
        else location.href=`/plogging/plogging?location=${locate}`;
    });

</script>
<script th:inline="javascript">
    let ploggings=[[${ploggings}]];
    $("div.project-feed_count").html("전체 "+ploggings.length);
</script>
<script src="/js/header-footer/header.js"></script>
<script src="/js/plogging/list.js"></script>
</html>