@media (min-width: 1256px){
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1136px;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    }
}
/* @media (min-width: 1024px){
.container {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 120px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    }
}
@media (min-width: 768px){
.container {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 80px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    }
}
@media (min-width: 375px){
.container {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
    }
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: calc(100% - 30px);
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
} */
.project-feed {
    margin-top: 15px;
}
.project-feed__filter {
    margin-bottom: 40px;
}
.filter-bar__control-list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
    min-width: 0;
    margin: 0 -2px;
    padding: 5px 0;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
.filter-bar__control-list__left, .filter-bar__control-list__right {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    min-width: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    white-space: nowrap;
}
.filter-bar__control-list__item {
    display: inline-block;
    margin: 0 2px;
    vertical-align: bottom;
    font-size: 0;
    line-height: 0;
}
.drop-down {
    position: relative;
    display: inline-block;
}
.filter-bar-control__button.button {
    font-size: 15px;
    line-height: 19px;
    padding: 7px 8px 6px;
    border-radius: 4px;
}
.button--size-50 {
    padding: 11px 10px;
    font-size: 17px;
    line-height: 26px;
    
}
.button--color-gray-0.disabled, .button--color-gray-0:disabled, .button--color-gray-4 {
    background-color: #f5f5f5;
    border-color: #f5f5f5;
    color: #757575;
}
.button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}
.filter-bar__tag-list:empty {
    padding: 0;
}
.filter-bar__tag-list {
    margin: 0;
    padding: 5px 0;
    list-style: none;
    font-size: 0;
    line-height: 0;
    box-sizing: border-box;
}
/* 목록 전체 조회 */
.project-feed__count {
    margin-bottom: 10px;
}
/* 플로깅 목록 */
@media (min-width: 1256px){
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -10px;
    margin-left: -10px;
}
}
@media (min-width: 1024px){
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -10px;
    margin-left: -10px;
}
}
@media (min-width: 768px){
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -7.5px;
    margin-left: -7.5px;
}
}
@media (min-width: 375px){
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -5px;
    margin-left: -5px;
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
}
@media (min-width: 768px) and (min-width: 1256px){
.col-md-4 {
    padding-right: 10px;
    padding-left: 10px;
}
}
@media (min-width: 768px) and (min-width: 1024px){
.col-md-4 {
    padding-right: 10px;
    padding-left: 10px;
}
}
@media (min-width: 768px) and (min-width: 768px){
.col-md-4 {
    padding-right: 7.5px;
    padding-left: 7.5px;
}
}
@media (min-width: 768px) and (min-width: 375px){
.col-md-4 {
    padding-right: 5px;
    padding-left: 5px;
}
}
@media (min-width: 768px){
.col-md-4 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3333333333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 33.3333333333%;
    -ms-flex: 0 0 33.3333333333%;
    flex: 0 0 33.3333333333%;
    max-width: 33.3333333333%;
    padding-right: 5px;
    padding-left: 5px;
}
}
@media (min-width: 1256px){
.col-12 {
    padding-right: 10px;
    padding-left: 10px;
}
}
@media (min-width: 1024px){
.col-12 {
    padding-right: 10px;
    padding-left: 10px;
}
}
@media (min-width: 768px){
.col-12 {
    padding-right: 7.5px;
    padding-left: 7.5px;
}
}
@media (min-width: 375px){
.col-12 {
    padding-right: 5px;
    padding-left: 5px;
}
}
.col-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    /* max-width: 100%; */
    padding-right: 10px;
    padding-left: 10px;
}
.project-feed__item {
    position: relative;
    display: block;
    text-align: center;
    padding-bottom: 30px;
}
.project-feed__item__link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}
a {
    color: inherit;
    text-decoration: none;
}
.project-feed__item__image {
    position: relative;
    padding-bottom: 66.6666666667%;
    overflow: hidden;
    border-radius: 8px;
    background-color: #ededed;
}
.project-feed__item__image>.image {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%,-50%);
    transition: transform .2s;
}
fieldset, img {
    border: 0;
}
.project-feed__item__title {
    margin: 18px 0 8px;
    line-height: 24px;
    font-size: 17px;
    font-weight: 700;
    color: #424242;
    word-break: keep-all;
    word-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}
address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}
.project-feed__item__writer {
    position: relative;
    display: block;
    margin: 8px 0;
    font-size: 13px;
    font-weight: 400;
    color: #424242;
    line-height: 16px;
    z-index: 2;
}
.project-feed__item__status {
    margin: 8px 0 0;
    color: #757575;
    font-size: 13px;
    line-height: 17px;
    text-align: center;
}
footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}
.project-feed__item__status > .entry::before {
    display: inline-block;
    content: "·";
    color: rgb(117, 117, 117);
    margin: 0px 4px 0px 2px;
}