b.red{
    color: red;
}

.layout, .page, body, html {
    height: 100%;
}
@media (min-width: 768px) {
    body, html {
        font-size: 15px;
    }
}

body, html {
    line-height: 1;
    font-family: OhouseSans,Noto Sans KR,Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.4px;
    font-size: 13px;
}


@media (min-width: 768px) {
    body, html {
        font-size: 15px;
    }
}
ol, ul {
    list-style: none;
}
body, html {
    line-height: 1;
    font-family: OhouseSans,Noto Sans KR,Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.4px;
    font-size: 13px;
}

.layout, .page, body, html {
    height: 100%;
}

.css-b3oum6 {
    height: 100%;
}

.css-12bdpl9 {
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    min-height: 100%;
    position: relative;
}

.css-1ghrdz {
    position: sticky;
    top: 0px;
    flex: 0 0 auto;
    width: 100%;
    z-index: 500;
    transform: translateZ(0px);
    will-change: top;
}

@media (min-width: 768px) {
    .css-hiki5m {
        display: none;
    }
}
.css-3nzkdh {
    position: relative;
    padding: 11px 15px;
    height: 50px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(219, 219, 219);
    font-size: 17px;
    line-height: 27px;
}
.css-oey6yo {
    position: absolute;
    top: 11px;
    left: 15px;
}
.css-16z64wp {
    display: block;
    padding: 2px;
    border: none;
    background: none;
    font-family: inherit;
    text-align: center;
    line-height: 0;
    cursor: pointer;
    transition: opacity 0.1s ease 0s;
}

.css-obcig {
    margin: 0px;
    color: rgb(66, 66, 66);
    font-weight: bold;
    font-size: 17px;
    line-height: 27px;
    text-align: center;
}
.css-1gkj1rl {
    position: absolute;
    top: 11px;
    right: 15px;
}
.css-1lg9r82 {
    display: flex;
    height: 45px;
    box-sizing: border-box;
    background-color: rgb(247, 248, 250);
    border-bottom: 1px solid rgb(219, 219, 219);
}

.css-1el3o29 {
    flex: 1 0 0px;
    min-width: 0px;
}
.css-ou8xsw {
    flex: 0 0 auto;
}

.css-q3w6qr {
    display: none;
    height: 80px;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid rgb(219, 219, 219);
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .css-q3w6qr {
        display: block;
    }
}
.css-1fyeg2n {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    height: 79px;
    margin: 0px auto;
    max-height: 1256px;
}
@media (min-width: 1024px) {
    .css-1fyeg2n {
        -webkit-box-pack: center;
        justify-content: center;
    }
}
.css-1uq8wjk {
    flex: 0 0 auto;
    display: none;
    padding: 0px;
    margin: 10px 0px 0px 60px;
}

@media (min-width: 1024px) {
    .css-1uq8wjk {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        margin-left: 40px;
    }
}
@media (min-width: 1256px){
.css-1uq8wjk {
    margin-left: 60px;
}
}
.css-1dfyjem {
    width: 100px;
    height: 55px;
}
.css-svxhqj {
    -webkit-box-align: center;
    align-items: center;
    white-space: nowrap;
    padding: 0px 0px 0px 15px;
}


@media (min-width: 1024px) {
    .css-svxhqj {
        padding: 0px 80px 0px 0px;
    }
}
    @media (min-width: 1256px){
    .css-svxhqj {
        padding: 0px;
    }
    }

.css-s5xdrg {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.css-c5xvys {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0px 1px;
    padding: 0px;
    border: none;
    background: none;
    border-radius: 4px;
    transition: background-color 0.1s ease 0s, opacity 0.1s ease 0s;
    vertical-align: bottom;
    box-sizing: content-box;
    color: rgb(82, 91, 97);
}

@media (min-width: 1024px) {
    .css-c5xvys {
        width: 45px;
        height: 45px;
    }
}
.css-c5xvys > .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 6px;
}
.drop-down {
    position: relative;
    display: inline-block;
}

.css-1ams5cd {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0px 1px;
    padding: 0px 10px 0px 0px;
    border: none;
    background: none;
    border-radius: 4px;
    transition: background-color 0.1s ease 0s, opacity 0.1s ease 0s;
    vertical-align: bottom;
    box-sizing: content-box;
    color: rgb(82, 91, 97);
    opacity: 0.4;
}

@media (min-width: 1024px) {
    .css-1ams5cd {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 1024px) {
    .css-1ams5cd {
        padding-right: 12px;
    }
}

.css-oxy5fc {
    display: inline-block;
    color: rgb(82, 91, 97);
    text-align: center;
    line-height: 20px;
    padding: 7px 0px 8px;
    font-weight: normal;
    font-size: 14px;
}
@media (min-width: 768px) {
    .css-oxy5fc {
        padding: 1px 0px 2px;
    }
}
@media (min-width: 1024px) {
    .css-oxy5fc {
        padding: 11px 0px 12px;
        font-size: 14px;
        line-height: 22px;
    }
}
@media (min-width: 768px){
.css-oxy5fc {
    font-size: 15px;
}}


.css-13a5ipi > .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 6px;
}


.css-12vlsdc {
    position: absolute;
    top: 50%;
    right: 0px;
    margin-top: -5px;
    font-size: 10px;
    color: rgb(158, 158, 158);
}
@media (min-width: 1024px) {
    .css-12vlsdc {
        margin-top: -6px;
        font-size: 12px;
    }
}


.css-zz70lp {
    display: inline-block;
    height: 13px;
    width: 1px;
    margin: 0px 9px;
    background-color: rgb(218, 220, 224);
    vertical-align: 11px;
}

@media (min-width: 1024px) {
    .css-zz70lp {
        margin: 0px 12px;
        vertical-align: 15px;
    }
}

.css-1l9hdyz {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0px 1px;
    padding: 0px;
    border: none;
    background: none;
    border-radius: 4px;
    transition: background-color 0.1s ease 0s, opacity 0.1s ease 0s;
    vertical-align: bottom;
    box-sizing: content-box;
    color: rgb(82, 91, 97);
    opacity: 0.4;
}

@media (min-width: 1024px) {
    .css-1l9hdyz {
        width: 45px;
        height: 45px;
    }
}

.css-1l9hdyz > .icon {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 6px;
}


 .css-1d9qq2u {
     flex: 0 0 auto;
     display: block;
     padding-right: 15px;
     height: 79px;
 }
@media (min-width: 1024px) {
    .css-1d9qq2u {
        position: absolute;
        top: 0px;
        right: 0px;
        padding-right: 25px;
    }
}

.css-2x7ovp {
    padding: 17px 0px 18px;
}

.css-1r5gb7q {
    display: inline-block;
}

.css-pm6jyj {
    display: inline-flex;
    width: 90px;
    height: 45px;
    box-sizing: border-box;
    margin: 0px 5px;
    background: rgb(255, 255, 255);
    border: 1px solid #7aab9a;
    border-radius: 4px;
}


@media (min-width: 1256px) {
    .css-pm6jyj {
        width: 132px;
    }
}

.css-1ul51ys {
    width: auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 11px 5px 12px;
    border: none;
    background-color: transparent;
    text-align: center;
    white-space: nowrap;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: #7aab9a;
    transition: opacity 0.1s ease 0s;
    flex: 1 0 0px;
}

[role=button]:disabled, a:disabled, button:disabled, input[type=button]:disabled, input[type=reset]:disabled, input[type=submit]:disabled {
    cursor: default;
}
.css-1ul51ys:disabled {
    opacity: 0.6;
}
.css-tygob0 {
    display: none;
}
@media (min-width: 1256px) {
    .css-tygob0 {
        display: inline;
    }
}

.css-l5m0d6 {
    display: inline;
}

@media (min-width: 1256px) {
    .css-l5m0d6 {
        display: none;
    }
}

.css-1ganikp {
    display: inline-block;
    width: 90px;
    height: 45px;
    box-sizing: border-box;
    margin: 0px 5px;
    padding: 11px 5px 12px;
    background: #7aab9a;
    border: 1px solid #7aab9a;
    border-radius: 4px;
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 15px;
    line-height: 20px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    transition: opacity 0.1s ease 0s;
}

@media (min-width: 1256px) {
    .css-1ganikp {
        width: 132px;
    }
}

.css-tygob0 {
    display: none;
}

@media (min-width: 1256px) {
    .css-tygob0 {
        display: inline;
    }
}
.css-l5m0d6 {
    display: inline;
}

@media (min-width: 1256px) {
    .css-l5m0d6 {
        display: none;
    }
}

.css-13a5ipi {
    position: relative;
    width: 36px;
    height: 36px;
    margin: 0px 1px;
    padding: 0px 10px 0px 0px;
    border: none;
    background: none;
    border-radius: 4px;
    transition: background-color 0.1s ease 0s, opacity 0.1s ease 0s;
    vertical-align: bottom;
    box-sizing: content-box;
    color: rgb(82, 91, 97);
}

@media (min-width: 1024px) {
    .css-13a5ipi {
        width: 45px;
        height: 45px;
    }
}

@media (min-width: 768px) {
    .css-13a5ipi:hover, .css-13a5ipi:active {
        opacity: 0.7;
    }
}
    @media (min-width: 1024px) {
        .css-13a5ipi {
            padding-right: 12px;
        }
    }

.css-7x5yj7 {
    flex: 0 0 auto;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;


}


@media (min-width: 768px) {
    .css-7x5yj7 {
        max-width: 720px;
        margin: 0px auto;
        padding: 0px;
    }
}

 .css-1aavmz8 {
     margin: 0px -15px;
     padding: 0px 15px;
     border-bottom: 10px solid rgb(237, 237, 237);
 }

@media (min-width: 768px) {
    .css-1aavmz8 {
        margin: 30px 0px 0px;
        padding: 0px;
        border: none;
    }
}

.css-1h2slj8 {
    border-bottom: 1px solid rgb(234, 235, 239);
}

@media (min-width: 768px) {
    .css-1h2slj8 {
        margin: 16px 0px;
        border-radius: 4px;
        border: 1px solid rgb(218, 220, 224);
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(234, 235, 239, 0.8) 0px 2px 4px 0px;
    }
}
.css-1csoo3q {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 17px 5px;
    border: none;
    background: none;
    font: inherit;
    box-sizing: border-box;
    text-align: left;
    transition: background-color 0.1s ease 0s;
}

@media (min-width: 768px) {
    .css-1csoo3q {
        padding: 25px 30px;
    }
}

.css-1el3o29 {
    flex: 1 0 0px;
    min-width: 0px;
}

.css-1xdtfyo {
    display: inline-block;
}

.css-1xdtfyo > .icon {
    vertical-align: -7px;
}

.css-10layei {
    display: inline-block;
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    color: rgb(63, 71, 77);
}
.css-ka2iwm {
    display: none;
    margin-left: 8px;
    font-size: 13px;
    font-weight: normal;
    line-height: 26px;
    color: rgb(164, 172, 179);
    vertical-align: 1px;
}

@media (min-width: 768px) {
    .css-ka2iwm {
        display: inline-block;
    }
}

.css-ou8xsw {
    flex: 0 0 auto;
}

.css-74zr3x {
    font-size: 18px;
    color: rgb(130, 140, 148);
    transition: transform 0.2s ease 0s;
    transform: rotate(180deg);
}

.css-1i63qm1 {
    padding: 3px 0px 20px;
}
@media (min-width: 768px) {
    .css-1i63qm1 {
        padding: 15px 30px 30px;
    }
}
.css-12oeinx {
    margin: -15px 15px -15px 0px;
    font-size: 15px;
    line-height: 25px;
    color: rgb(66, 66, 66);
}
.css-12oeinx > li {
    position: relative;
    margin: 12px 0px 12px 35px;
}

.css-12oeinx > li::before {
    content: "•";
    position: absolute;
    display: inline-block;
    top: -1px;
    right: 100%;
    margin-right: 15px;
    font-size: 22px;
}
.css-1h2slj8 {
    border-bottom: 1px solid rgb(234, 235, 239);
}

@media (min-width: 768px) {
    .css-1h2slj8 {
        margin: 16px 0px;
        border-radius: 4px;
        border: 1px solid rgb(218, 220, 224);
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(234, 235, 239, 0.8) 0px 2px 4px 0px;
    }
}

.css-1h2slj8:last-child {
    border-bottom: none;
}
@media (min-width: 768px) {
    .css-1h2slj8:last-child {
        border-bottom: 1px solid rgb(218, 220, 224);
    }
}
.css-1csoo3q {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin: 0px;
    padding: 17px 5px;
    border: none;
    background: none;
    font: inherit;
    box-sizing: border-box;
    text-align: left;
    transition: background-color 0.1s ease 0s;
    border-radius: 4px;
}

@media (min-width: 768px) {
    .css-1csoo3q {
        padding: 25px 30px;
    }
}

.css-1el3o29 {
    flex: 1 0 0px;
    min-width: 0px;
}

.css-1xdtfyo {
    display: inline-block;
}

.css-10layei {
    display: inline-block;
    margin-left: 12px;
    font-size: 15px;
    font-weight: bold;
    line-height: 26px;
    color: rgb(63, 71, 77);
}

.css-ka2iwm {
    display: none;
    margin-left: 8px;
    font-size: 13px;
    font-weight: normal;
    line-height: 26px;
    color: rgb(164, 172, 179);
    vertical-align: 1px;
}

@media (min-width: 768px) {
    .css-ka2iwm {
        display: inline-block;
    }
}
.css-ou8xsw {
    flex: 0 0 auto;
}

.css-u9pb3w {
    font-size: 18px;
    color: rgb(130, 140, 148);
    transition: transform 0.2s ease 0s;
}
.css-1i63qm1 {
    padding: 3px 0px 20px;
}
@media (min-width: 768px) {
    .css-1i63qm1 {
        padding: 15px 30px 30px;
    }
}

.css-1d2rxna {
    padding: 0px 10px;
}

.css-91icxf {
    display: flex;
    align-items: flex-start;
    padding: 12px 0px;
    position: relative;
}

.css-k7rs7x {
    flex: 0 0 auto;
    padding: 8px 0px;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: rgb(41, 41, 41);
    word-break: keep-all;
}
@media (min-width: 768px) {
    .css-k7rs7x {
        width: 130px;
    }

}

.css-1glw6nv {
    margin: 0px 3px;
    color: rgb(255, 119, 119);
}
.css-l0i7ez {
    flex: 1 0 0px;
}

.css-1yggbmr {
    margin: -3px 0px;
}

.radio-group-input {
    margin: -5px;
}

@media (min-width: 768px) {
    .radio-group-input {
        margin: -10px -5px;
    }
}
.css-1d2rxna .editor-metadata-form__input-radio.radio-group-input {
    margin: 0px -5px;
}

.radio-group-input>li {
    display: inline-block;
    width: 50%;
    padding: 15px 5px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .radio-group-input > li {
        width: 33%;
    }
}

.css-1d2rxna .editor-metadata-form__input-radio.radio-group-input > li {
    width: auto;
    padding: 9px 20px 9px 5px;
}

.form-check, .form-radio {
    font-size: 13px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

@media (min-width: 768px) {
    .form-check, .form-radio {
        font-size: 15px;
    }
}

.form-check .form-check-label, .form-check>.form-radio-label, .form-radio .form-check-label, .form-radio>.form-radio-label {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
    padding-left: 32px;
    min-height: 22px;
    line-height: 22px;
    position: relative;
}
.radio-group-input>li .form-radio>.form-radio-label {
    margin-bottom: 0;
    font-size: 15px;
}
.form-check .form-check-label .form-check, .form-check .form-check-label>.form-radio, .form-check>.form-radio-label .form-check, .form-check>.form-radio-label>.form-radio, .form-radio .form-check-label .form-check, .form-radio .form-check-label>.form-radio, .form-radio>.form-radio-label .form-check, .form-radio>.form-radio-label>.form-radio {
    left: -1000px;
    position: absolute;
    opacity: 0;
}

.form-check .form-check-label>.radio-img, .form-check>.form-radio-label>.radio-img, .form-radio .form-check-label>.radio-img, .form-radio>.form-radio-label>.radio-img {
    box-sizing: border-box;
    height: 22px;
    width: 22px;
    border-radius: 12px;
    background-color: #fff;
    border: 1px solid #dbdbdb;
    display: block;
    transition: .2s ease;
    position: absolute;
    left: 0;
    top: 0;
}

.form-check .form-check-label .form-radio:not(:disabled):checked+.radio-img, .form-check>.form-radio-label .form-radio:not(:disabled):checked+.radio-img, .form-radio .form-check-label .form-radio:not(:disabled):checked+.radio-img, .form-radio>.form-radio-label .form-radio:not(:disabled):checked+.radio-img {
    border-color: #35c5f0;
    overflow: hidden;
}

.form-check .form-check-label>.radio-img:after, .form-check>.form-radio-label>.radio-img:after, .form-radio .form-check-label>.radio-img:after, .form-radio>.form-radio-label>.radio-img:after {
    content: "";
    box-sizing: border-box;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    width: 0;
    height: 0;
    border-radius: 11px;
    transition: .2s ease;
    border: 0 solid #35c5f0;
}

.form-check .form-check-label .form-radio:not(:disabled):checked+.radio-img:after, .form-check>.form-radio-label .form-radio:not(:disabled):checked+.radio-img:after, .form-radio .form-check-label .form-radio:not(:disabled):checked+.radio-img:after, .form-radio>.form-radio-label .form-radio:not(:disabled):checked+.radio-img:after {
    width: 22px;
    height: 22px;
    border-width: 7px;
}



.css-1yggbmr .e13w87p50 {
    margin: 3px 0px;
}
@media (min-width: 375px) {
    .css-1yggbmr .e13w87p50 {
        margin: 3px 6px 3px 0px;
    }
}
.css-me3hyb {
    display: block;
    width: 100%;
}

@media (min-width: 375px) {
        .css-me3hyb {
            display: inline-block;
            width: 220px;
        }
    }

.select-input {
    position: relative;
}

.form-check-group, .form-control, .form-radio-group, .input-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.form-control {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    font-size: 12px;
}

@media (min-width: 768px) {
    .form-control {
        font-size: 14px;
    }
}
.input-group .form-control {
    width: 0;
}

.css-1d2rxna .form-control {
    appearance: none;
}

.css-l0i7ez .form-control {
    font-size: 15px;
    border-radius: 4px;
}
.select-input>.form-control {
    width: 100%;
    padding-right: 30px;
    background-image: none;
}

.select-input.input-group>.form-control {
    width: 100%;
}

.select-input>.form-control.empty {
    color: #bdbdbd;
}

.select-input>.form-control>option {
    color: #424242;
}

.select-input>.form-control>option:disabled {
    color: #bdbdbd;
}


.select-input__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
    pointer-events: none;
}

.css-91icxf {
    display: flex;
    align-items: flex-start;
    padding: 12px 0px;
}
.css-k7rs7x {
    flex: 0 0 auto;
    padding: 8px 0px;
    width: 80px;
    font-size: 15px;
    font-weight: bold;
    line-height: 24px;
    color: rgb(41, 41, 41);
    word-break: keep-all;
}

@media (min-width: 768px) {
    .css-k7rs7x {
        width: 130px;
    }
}

.css-1glw6nv {
    margin: 0px 3px;
    color: rgb(255, 119, 119);
}

.css-l0i7ez {
    flex: 1 0 0px;
}

.css-1yggbmr {
    margin: -3px 0px;
}
.radio-group-input {
    margin: -5px;
}

@media (min-width: 768px) {
    .radio-group-input {
        margin: -10px -5px;
    }
}
.css-1d2rxna .editor-metadata-form__input-radio.radio-group-input {
    margin: 0px -5px;
}


.css-bjn8wh {
    position: relative;
}
.css-i0f99i {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
}


.css-fvirbu {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    text-align: center;
    font: inherit;
    background-color: rgb(247, 248, 250);
    border: none;
}
@media (min-width: 768px) {
    .css-fvirbu {
        border-radius: 4px;
    }
}

.css-1idkie2 {
    font-size: 16px;
    line-height: 24px;
    color: rgb(47, 52, 56);
    font-weight: 700;
    margin-bottom: 8px;
}


@media (min-width: 768px) {
    .css-1idkie2 {
        line-height: 20px;
        margin-bottom: 14px;
    }
}

.css-1wclmit {
    display: none;
}

@media (min-width: 768px) {
    .css-1wclmit {
        display: inline;
    }
}

.css-4c3vki {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: rgb(130, 140, 148);
}

.css-fj1jqk {
    display: inline-block;
    margin: 24px 0px 0px;
    padding: 11px 16px;
    background-color: rgba(33, 38, 41, 0.8);
    color: rgb(255, 255, 255);
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    border-radius: 4px;
    transition: background-color 0.1s ease 0s;
}

.css-2nc76j {
    margin: 25px 0px 0px;
    position: relative;
}

@media (min-width: 768px) {
    .css-2nc76j {
        margin: 45px 0px 0px;
    }
}

.css-m2kti2 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 0px;
    padding: 15px 50px 15px 0px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(234, 235, 239);
    color: rgb(41, 41, 41);
    font-style: inherit;
    font-variant: inherit;
    font-stretch: inherit;
    font-family: inherit;
    font-optical-sizing: inherit;
    font-kerning: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}



@media (min-width: 768px) {
    .css-m2kti2 {
        padding: 15px 60px 15px 0px;
        font-size: 34px;
        line-height: 31px;
    }
}

.css-qidfq {
    position: absolute;
    right: 0px;
    top: 50%;
    margin: -8px 0px 0px;
    color: rgb(130, 140, 148);
    font-size: 13px;
    line-height: 17px;
}

@media (min-width: 768px) {
    .css-qidfq {
        margin: -9px 0px 0px;
        font-size: 15px;
        line-height: 19px;
    }
}

.css-pcsdsm {
    flex: 1 0 auto;
    cursor: text;
}


.css-14b06uj {
    padding: 30px 0px 30vh;
    cursor: text;
}

@media (min-width: 768px) {
    .css-14b06uj {
        padding: 40px 0px 30vh;
    }
}

.css-vsfvi4 {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .css-vsfvi4 {
        max-width: 720px;
        margin: 0px auto;
        padding: 0px;
    }
}
.css-1mes2w3 {
    margin: 3px -3px;
    padding: 0px 3px;
    color: black;
    font-size: 15px;
    font-weight: normal;
    line-height: 28px;
    min-height: 28px;
}
.css-7x5yj7 {
    flex: 0 0 auto;
    width: 100%;
    padding: 0px 15px;
    box-sizing: border-box;
}
@media (min-width: 768px) {
    .css-7x5yj7 {
        max-width: 720px;
        margin: 0px auto;
        padding: 0px;
    }
}

.css-n7iyp8 {
    position: fixed;
    display: none;
    right: 40px;
    bottom: 40px;
    z-index: 10;
}
@media (min-width: 768px) {
    .css-n7iyp8 {
        display: block;
    }
}
.css-7nipwj {
    margin: 0px;
    padding: 16px;
    border: none;
    background-color: rgb(130, 140, 148);
    border-radius: 100%;
    font-size: 0px;
    box-shadow: rgb(194, 200, 204) 0px 2px 4px 0px;
    transition: opacity 0.1s ease 0s;
}


button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}


* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}



.css-91icxf {
    display: flex;
    align-items: flex-start;
    padding: 12px 0px;
}

.css-me3hyb {
    display: block;
    width: 100%;
}

@media (min-width: 375px) {
    .css-me3hyb {
        display: inline-block;
        width: 220px;
    }
}
.css-1yggbmr .e13w87p50 {
    margin: 3px 0px;
}
@media (min-width: 375px) {
    .css-1yggbmr .e13w87p50 {
        margin: 3px 6px 3px 0px;
    }
}

.panel-input__input-wrap.drop-down {
    position: relative;
    display: block;
    width: 100%;
    cursor: pointer;
}

.css-1d2rxna .form-control {
    appearance: none;
}

.css-l0i7ez .form-control {
    font-size: 15px;
    border-radius: 4px;
}

.panel-input__input.form-control {
    width: 100%;
    padding-right: 30px;
    cursor: default;
    text-align: left;
}

.panel-input__icon {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
    pointer-events: none;
}
@media (min-width: 375px) {
    .css-me3hyb {
        display: inline-block;
        width: 220px;
    }
}

.css-1yggbmr .e13w87p50 {
    margin: 3px 0px;
}
@media (min-width: 375px) {
    .css-1yggbmr .e13w87p50 {
        margin: 3px 6px 3px 0px;
    }
}

@media (min-width: 768px) {
    .form-control {
        font-size: 14px;
    }
}
.css-1d2rxna .form-control {
    appearance: none;
}
.css-l0i7ez .form-control {
    font-size: 15px;
    border-radius: 4px;
}

.animated-popout.open.open.open {
    visibility: visible;
    opacity: 1;
    transform: none;
    transition: opacity .2s,transform .2s;
    transform-origin: 50% 0;
    box-sizing: border-box;
}

.popout--axis-1.popout--dir-2 .panel-drop-down__content {
    margin-top: 17px;
}

.drop-down__content {
    z-index: 1000;
}

.panel-drop-down__content {
    position: relative;
}

.animated-popout.open-active {
    pointer-events: auto;
}

.drop-down-panel {
    margin: 0 -1px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 -1px 16px rgba(0,0,0,.2);
    border-radius: 10px;
    overflow: hidden;
    white-space: nowrap;
}

.panel-entry-list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.drop-down-panel .panel-entry-list {
    position: relative;
    width: 200px;
    min-height: 50px;
}
.drop-down-panel>.panel-entry-list {
    max-height: 425px;
    overflow: auto;
}


.panel-entry-list__item {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.panel-entry-list__item {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    background: #fff;
    color: #424242;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

.panel-entry-list__item.selected {
    color: #35c5f0;
    font-weight: 700;
}

.panel-entry-list__item__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between;
}
.panel-entry-list__item__right, .panel-entry-list__item__title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 20px;
}
.panel-entry-list__item__title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.panel-entry-list__item {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    background: #fff;
    color: #424242;
    font-family: inherit;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    text-decoration: none;
    text-align: left;
    cursor: pointer;
}

@media (min-width: 768px) {
    .panel-entry-list__item.hovered, .panel-entry-list__item:active, .panel-entry-list__item:focus, .panel-entry-list__item:hover {
        background-color: #effbff;
    }
}
.panel-entry-list__item.show-caret .panel-entry-list__item__header {
    padding-right: 25px;
}
.panel-entry-list__item__right, .panel-entry-list__item__title {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
    word-break: break-all;
    line-height: 20px;
}
.panel-entry-list__item__title {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.panel-entry-list__item.show-caret .panel-entry-list__item__header>.caret {
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
}


.popout--axis-1.popout--dir-2 .panel-drop-down__content:after {
    content: "";
    position: absolute;
    display: block;
    left: 20px;
    border-style: solid;
    top: -8px;
    margin: 0 1px;
    border-width: 0 9px 9px;
    border-color: transparent transparent #fff;
}


.popout--axis-1.popout--dir-2.popout--cross-dir-0 .panel-drop-down__content:after {
    left: 20px;
}

button{
    cursor: pointer;
}

input,select {
    outline: none;
}


.content{
    outline: none;
    border: none;
    resize: none;
    height: 500px;
}

.css-1y8go0x {
    position: absolute;
    right: -79px;
    top: 29px;
    display: inline-block;
    margin: 0px;
    padding: 0px;
    line-height: 0;
    color: rgb(255, 255, 255);
    background-color: white;
    border-radius: 100%;
    transition: background-color 0.1s ease 0s;
    border: none;
}

@media (min-width: 768px) {
    .css-1y8go0x {
        box-shadow: rgba(63, 71, 77, 0.05) 0px 2px 5px 0px;
        border: 1px solid rgba(0, 0, 0, 0.08);
        padding: 17px;
    }
}
@media (min-width: 768px) {
    .css-1y8go0x:hover, .css-1y8go0x:active {
        background-color: rgb(247, 249, 250);
    }
}

.delete-image-btn{
    top: 100px;

}


.css-1xdtfyo > .icon {
    vertical-align: -7px;
}

.popout--prepared{
    position: absolute;
    z-index: 1000;
    left: 369px;
    top: 63px;
}

.big-location-box {

    left: 169px;
    top: 46px;
}