<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>이메일 인증코드 확인</title>
</head>
<link href="/css/login/new_password_check.css" rel="stylesheet"/>
<link href="/css/font.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<body>
<div class="css-b3oum6">
    <div class="css-1g1okj8 e1lpfzz14">
        <div class="css-1wv4onu e1lpfzz13">
            <div class="css-1ootb31 eqepphp7">
                <div class="css-epwnf3 eqepphp6">이메일로 전송된 인증코드를 입력해주세요.</div>
                <div class="css-6iq7la eqepphp5">
                    <div class="css-1cvdtkt eqepphp4"><input type="text" placeholder="인증코드 6자리 입력"
                                                             class="css-jh3u7 eqepphp3" value=""><span
                            class="css-2ofpti eqepphp2">00:00</span>
                        <button class="_3Z6oR _3AsCW _2tsrJ css-1gabnbc edfw59v0" type="button" disabled="">확인</button>
                    </div>
                    <!--<div class="css-bxn4wb eqepphp1">인증코드가 만료되었습니다.</div>-->
                </div>
                <div class="css-1r0yqr6 eqepphp0">
                    <div class="css-1vor8y5 ejevacd2">
                        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" preserveAspectRatio="xMidYMid meet"
                             class="css-qamjgr ejevacd0">
                            <path fill-rule="evenodd" clip-rule="evenodd"
                                  d="M0.25 7C0.25 10.7279 3.27208 13.75 7 13.75C10.7279 13.75 13.75 10.7279 13.75 7C13.75 3.27208 10.7279 0.25 7 0.25C3.27208 0.25 0.25 3.27208 0.25 7ZM13 7C13 10.3137 10.3137 13 7 13C3.68629 13 1 10.3137 1 7C1 3.68629 3.68629 1 7 1C10.3137 1 13 3.68629 13 7ZM7.125 3.75C7.47018 3.75 7.75 4.02982 7.75 4.375C7.75 4.72018 7.47018 5 7.125 5C6.77982 5 6.5 4.72018 6.5 4.375C6.5 4.02982 6.77982 3.75 7.125 3.75ZM6.65 10.5H7.58333V5.83333H6.65V10.5Z"
                                  fill="#828C94"></path>
                        </svg>
                        이메일을 받지 못하셨나요?<a class="css-3b6ywl ejevacd1">이메일 재전송하기</a></div>
                </div>
            </div>
            <button class="_1eWD8 _3SroY _27do9 css-1lc2vx1 e1lpfzz10" disabled="">비밀번호 재설정하기</button>
            <div class="css-156jhri e1lpfzz12">회원가입 시 입력한 정보가 기억나지 않는다면?<a href="tel:1670-0876"
                                                                           class="css-1nc5o6j e1lpfzz11">1대1
                문의하기(마이페이지)</a></div>
        </div>
    </div>
</div>
</body>
</html>