blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html {
    color: #424242;
    background: #fff;
}

.recaptcha-checkbox-checked .recaptcha-checkbox-checkmark {
    background-position: 0 -600px;
}
body, html {
    line-height: 1;
    font-family: OhouseSans, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}

@media (min-width: 768px) {
    body, html {
        font-size: 15px;
    }
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}

a * {
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
}

ol, ul {
    list-style: none;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button, input, select, textarea {
    font-size: inherit;
}

button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.css-b3oum6 {
    height: 100%;
}

.css-tbdbun {
    padding-top: 40px;
    width: calc(100% - 30px);
    margin: auto;
}

.css-5bso4y {
    width: 100%;
    margin: 0px auto;
    padding: 60px 0px;
}

@media (min-width: 768px){
.css-5bso4y {
    width: 360px;
}
}

.css-1pmd5bp {
    font-size: 20px;
    font-weight: bold;
}

.css-nv82x6 {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    word-break: keep-all;
}

.email-input {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

.form-check-group, .form-control, .form-radio-group, .input-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
    -moz-box-flex: 1;
    -moz-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}

.email-input__domain, .email-input__local {
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 1 0px;
    -ms-flex: 1 1 0px;
    flex: 1 1 0px;
}

.input-group .form-control {
    width: 0;
}

.email-input__domain .form-control, .email-input__local .form-control {
    width: 100%;
}

.css-1eufcdp .form-control {
    font-size: 15px;
}

.form-control {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    font-size: 12px;
}

@media (min-width: 768px) {
    .form-control {
        font-size: 14px;
    }
}

.email-input__domain .form-control-blind, .email-input__local .form-control-blind {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.email-input__separator {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20px;
    -moz-box-flex: 0;
    -moz-flex: 0 0 20px;
    -ms-flex: 0 0 20px;
    flex: 0 0 20px;
    text-align: center;
    line-height: 40px;
    color: #dbdbdb;
}

.input-group .form-control {
    width: 0;
}

.email-input__domain .form-control, .email-input__local .form-control {
    width: 100%;
}

.email-input__domain .form-control option, .email-input__local .form-control option {
    color: #424242;
}

.email-input__domain .form-control :disabled, .email-input__local .form-control :disabled {
    color: #757575;
    -webkit-text-fill-color: #757575;
    opacity: 1;
}


.css-1eufcdp .form-control {
    font-size: 15px;
}

.email-input__domain__expand {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px;
    background: none;
    border: none;
    font-size: 0;
    cursor: default;
    color: rgba(0,0,0,.3);
}

.css-1t0swn9 {
    margin-bottom: 30px;
    padding-top: 2px;
}

.css-16ou9ef.css-16ou9ef {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    padding: 0px;
    background: rgb(247, 248, 250);
    color: rgb(194, 200, 204);
    border-color: rgb(218, 220, 224);
}

[class^="_"], [class*=" _"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}

._2wuTD {
    background-color: #fff;
    border-color: #35c5f0;
    color: #35c5f0;
}

._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}

._3Z6oR {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}

._2tsrJ {
    padding: 11px 10px;
}

._2tsrJ, ._3VkGp {
    font-size: 17px;
    line-height: 26px;
}

._3AsCW {
    background-color: #7aab9a;
    border-color: #7aab9a;
    color: #fff;
}

.css-g8had9 {
    min-height: 143px;
    box-sizing: border-box;
    background: rgb(247, 248, 250);
    padding: 20px 16px;
}

.css-epwnf3 {
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 12px;
}

.css-6iq7la {
    border: 1px solid rgb(219, 219, 219);
    min-height: 45px;
    padding: 0px 16px;
    background: rgb(255, 255, 255);
    margin-bottom: 10px;
}

.css-1cvdtkt {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    height: 45px;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.css-jh3u7 {
    border: none;
    font-size: 15px;
    line-height: 15px;
    flex: 1 0 0px;
    width: 0px;
}

.css-2ofpti {
    color: rgb(255, 119, 119);
    margin-right: 20px;
}

.css-1gabnbc.css-1gabnbc {
    height: 31px;
    font-size: 14px;
    line-height: 17px;
    padding: 7px 10px;
    box-sizing: border-box;
}

_3AsCW._36MJM, ._3AsCW:disabled {
    background-color: #7aab9a;
    border-color: #7aab9a;
    color: white;
}

._3Z6oR:disabled {
    cursor: default;
}

.css-bxn4wb {
    color: rgb(255, 119, 119);
    font-size: 12px;
    padding-bottom: 15px;
}

.css-1r0yqr6 {
    margin-top: 10px;
}

.css-1vor8y5 {
    font-size: 12px;
    color: rgb(130, 140, 148);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
}

.css-qamjgr {
    margin-right: 4px;
}

.css-3b6ywl {
    text-decoration: underline;
    font-weight: 500;
    margin-left: 4px;
}

.css-1kfo0kb {
    margin-bottom: 30px;
}

.css-nv82x6 {
    display: block;
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: rgb(47, 52, 56);
    letter-spacing: -0.3px;
    word-break: keep-all;
}

.css-18zgq8s {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(130, 140, 148);
    letter-spacing: -0.3px;
}

._1qwAY {
    padding: 8px 15px 9px;
}

._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

._3ASDR.focus-visible, ._3ASDR:focus {
    outline: none;
}

.highlight:focus{
    outline: none;
    box-shadow: 0 0 0 3px #7aab9a;
}

.css-oyhedo {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

._1qwAY {
    padding: 8px 15px 9px;
}

.css-18zgq8s {
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(130, 140, 148);
    letter-spacing: -0.3px;
}

.css-9kms4c {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    white-space: nowrap;
}

.css-53y8n8 {
    padding: 18px;
    border: 1px solid rgb(234, 237, 239);
}

.css-127yl2f {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.css-xbe84c {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    cursor: pointer;
    flex: 1 1 0%;
}

.css-1ht51ro {
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(218, 221, 224);
    border-radius: 4px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
    flex-shrink: 0;
}

.css-edbsi7 {
    position: absolute;
    top: 3.6px;
    left: 3px;
    width: 0px;
    height: 12px;
    transition: width 0.2s ease 0.1s;
}

.css-8um586 {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0;
    width: 100%;
    height: 100%;
    margin: 0px;
    cursor: pointer;
}

.css-lc8zlb {
    flex: 1 1 0%;
    font-size: 16px;
    line-height: 20px;
    margin-left: 6px;
    color: rgb(47, 52, 56);
}

.css-tf2f5r {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    letter-spacing: -0.3px;
}

.css-10odp2i {
    display: inline-block;
    font-size: 12px;
    line-height: 20px;
    font-weight: 400;
    color: rgb(130, 140, 148);
}

.css-1ub9td3 {
    padding: 0px;
    height: 1px;
    border: none;
    background-color: rgb(234, 237, 239);
    margin: 18px 0px;
}

.css-127yl2f {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
}

.css-1jxc35f {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: top;
    color: rgb(255, 255, 255);
}

.css-1jxc35f::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

._check_12:before {
    content: "\e958";
}

.css-1jxc35f {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: top;
    color: rgb(255, 255, 255);
}

.css-16dg5k0 {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.css-16dg5k0::after {
    content: "(필수)";
    display: inline-block;
    padding-left: 2px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(0, 159, 206);
}

.css-127yl2f + .css-127yl2f {
    margin-top: 20px;
}

.css-1afr2ti {
    margin-left: 8px;
    color: rgb(47, 52, 56);
}

.css-qu4qo8 {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.css-qu4qo8::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

._chevron_right_18:before {
    content: "\e969";
}

.css-1afr2ti {
    margin-left: 8px;
    color: rgb(47, 52, 56);
}

.css-qu4qo8 {
    display: inline-block;
    font-size: 18px;
    line-height: 1;
}

.css-qu4qo8::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

.css-1qfqwct {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: -0.3px;
}

.css-1qfqwct::after {
    content: "(선택)";
    display: inline-block;
    padding-left: 2px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(130, 140, 148);
}

.css-1jxc35f {
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    vertical-align: top;
    color: rgb(255, 255, 255);
}

css-1jxc35f::before {
    font-family: OhouseIcon;
    vertical-align: top;
}

@media (min-width: 768px) {
    .css-1yqaufb {
        transform: scale(1.19);
        transform-origin: 0px 0px;
        height: 92px;
    }
}

.css-1kfo0kb {
    margin-bottom: 30px;
}

.css-1d3w5wq {
    width: 100%;
}

.css-frl1s {
    color: rgb(66, 66, 66);
    font-size: 15px;
    text-align: center;
    margin-top: 30px;
}

.css-i9fa3q {
    text-decoration: underline;
    font-weight: bold;
    display: inline-block;
    padding-left: 10px;
}

.css-1sm71m3 {
    margin: 30px 0px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(237, 237, 237);
}

.css-1mld7di {
    font-size: 12px;
    text-align: center;
    margin: 15px 0px;
    color: rgb(117, 117, 117);
}

.css-zl1inp {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.css-lbtgsv {
    margin: 0px 10px;
}

.css-4zleql {
    display: block;
}

.css-eivff4 {
    display: none;
}

@media (-ms-high-contrast:active), (hover: hover), (-ms-high-contrast:none) {
    ._3AsCW.focus-visible, ._3AsCW:hover {
        border-color: #3b7661;
        background-color: #3b7661;
    }
}

:focus {
    outline: none;
}

.form-control:active, .form-control:hover {
    background-color: #fafafa;
    border-color: #bdbdbd;
}

.form-control.focus-visible:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(130,224,250,.5);
}

.email-input.errored .form-control {
    border-color: #f77;
}

.css-10xn2x0.css-10xn2x0 {
    margin-top: 10px;
    width: 100%;
    height: 45px;
    padding: 0px;
}

.open {
    display: none;
}

.email-input__domain__expand.active:active, .email-input__domain__expand.active:focus, .email-input__domain__expand.active:hover {
    opacity: .6;
}

.del-direct{
    cursor: pointer;
}
.css-1voj95g {
    padding-top: 10px;
    font-size: 14px;
    line-height: 18px;
    color: rgb(255, 119, 119);
}

.email-valid-form{
    background-color: #fff !important;
    border-color: #7aab9a !important;
    color: #7aab9a !important;
}

.email-valid-form:hover{
    background-color:#7aab9a36 !important;
}


img.infinite_rotating_logo {

    animation: rotate_image 0.5s linear infinite;
    transform-origin: 50% 50%;
}

div.logo-area {
    text-align: center;
}


@keyframes rotate_image{
    100% {
        transform: rotate(360deg);
    }
}

input::-webkit-input-placeholder {
    opacity: 0.5;
}
input:-ms-input-placeholder {
    opacity: 0.5;
}
textarea::-webkit-input-placeholder {
    opacity: 0.5;
}
textarea:-ms-input-placeholder {
    opacity: 0.5;
}

._check_12:before {
    content: "\e958";
}

.check{
    border: 1px solid #7aab9a ;
    background-color: #3b7661 ;
}

.css-1jxc35f::before {
    font-family: OhouseIcon;
    vertical-align: top;
}