
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

:root {
    --sendbird-light-primary-500: #491389;
    --sendbird-light-primary-400: #6211c8;
    --sendbird-light-primary-300: #742ddd;
    --sendbird-light-primary-200: #c2a9fa;
    --sendbird-light-primary-100: #dbd1ff;
    --sendbird-light-secondary-500: #066858;
    --sendbird-light-secondary-400: #027d69;
    --sendbird-light-secondary-300: #259c72;
    --sendbird-light-secondary-200: #69c085;
    --sendbird-light-secondary-100: #a8e2ab;
    --sendbird-light-information-100: #adc9ff;
    --sendbird-light-error-500: #9d091e;
    --sendbird-light-error-400: #bf0711;
    --sendbird-light-error-300: #de360b;
    --sendbird-light-error-200: #f66161;
    --sendbird-light-error-100: #fdaaaa;
    --sendbird-light-background-700: #000;
    --sendbird-light-background-600: #161616;
    --sendbird-light-background-500: #2c2c2c;
    --sendbird-light-background-400: #393939;
    --sendbird-light-background-300: #bdbdbd;
    --sendbird-light-background-200: #e0e0e0;
    --sendbird-light-background-100: #eee;
    --sendbird-light-background-50: #fff;
    --sendbird-light-overlay-01: rgba(0,0,0,0.55);
    --sendbird-light-overlay-02: rgba(0,0,0,0.32);
    --sendbird-light-onlight-01: rgba(0,0,0,0.88);
    --sendbird-light-onlight-02: rgba(0,0,0,0.5);
    --sendbird-light-onlight-03: rgba(0,0,0,0.38);
    --sendbird-light-onlight-04: rgba(0,0,0,0.12);
    --sendbird-light-ondark-01: hsla(0,0%,100%,0.88);
    --sendbird-light-ondark-02: hsla(0,0%,100%,0.5);
    --sendbird-light-ondark-03: hsla(0,0%,100%,0.38);
    --sendbird-light-ondark-04: hsla(0,0%,100%,0.12);
    --sendbird-light-shadow-01: 0 1px 5px 0 rgba(33,34,66,0.04),0 0 3px 0 rgba(0,0,0,0.08),0 2px 1px 0 rgba(0,0,0,0.12);
    --sendbird-light-shadow-02: 0 3px 5px -3px rgba(33,34,66,0.04),0 3px 14px 2px rgba(0,0,0,0.08),0 8px 10px 1px rgba(0,0,0,0.12);
    --sendbird-light-shadow-03: 0 6px 10px -5px rgba(0,0,0,0.04),0 6px 30px 5px rgba(0,0,0,0.08),0 16px 24px 2px rgba(0,0,0,0.12);
    --sendbird-light-shadow-04: 0 9px 15px -7px rgba(0,0,0,0.04),0 9px 46px 8px rgba(0,0,0,0.08),0 24px 38px 3px rgba(0,0,0,0.12);
    --sendbird-light-shadow-message-input: 0 1px 5px 0 rgba(33,34,66,0.12),0 0 1px 0 rgba(33,34,66,0.16),0 2px 1px 0 rgba(33,34,66,0.08),0 1px 5px 0 rgba(0,0,0,0.12);
    --sendbird-dark-primary-500: #491389;
    --sendbird-dark-primary-400: #6211c8;
    --sendbird-dark-primary-300: #742ddd;
    --sendbird-dark-primary-200: #c2a9fa;
    --sendbird-dark-primary-100: #dbd1ff;
    --sendbird-dark-secondary-500: #066858;
    --sendbird-dark-secondary-400: #027d69;
    --sendbird-dark-secondary-300: #259c72;
    --sendbird-dark-secondary-200: #69c085;
    --sendbird-dark-secondary-100: #a8e2ab;
    --sendbird-dark-information-100: #adc9ff;
    --sendbird-highlight-100: #fff2b6;
    --sendbird-dark-error-500: #9d091e;
    --sendbird-dark-error-400: #bf0711;
    --sendbird-dark-error-300: #de360b;
    --sendbird-dark-error-200: #f66161;
    --sendbird-dark-error-100: #fdaaaa;
    --sendbird-dark-background-700: #000;
    --sendbird-dark-background-600: #161616;
    --sendbird-dark-background-500: #2c2c2c;
    --sendbird-dark-background-400: #393939;
    --sendbird-dark-background-300: #bdbdbd;
    --sendbird-dark-background-200: #e0e0e0;
    --sendbird-dark-background-100: #eee;
    --sendbird-dark-background-50: #fff;
    --sendbird-dark-overlay-01: rgba(0,0,0,0.55);
    --sendbird-dark-overlay-02: rgba(0,0,0,0.32);
    --sendbird-dark-onlight-01: rgba(0,0,0,0.88);
    --sendbird-dark-onlight-02: rgba(0,0,0,0.5);
    --sendbird-dark-onlight-03: rgba(0,0,0,0.38);
    --sendbird-dark-onlight-04: rgba(0,0,0,0.12);
    --sendbird-dark-ondark-01: hsla(0,0%,100%,0.88);
    --sendbird-dark-ondark-02: hsla(0,0%,100%,0.5);
    --sendbird-dark-ondark-03: hsla(0,0%,100%,0.38);
    --sendbird-dark-ondark-04: hsla(0,0%,100%,0.12);
    --sendbird-dark-shadow-01: 0 1px 5px 0 rgba(33,34,66,0.04),0 0 3px 0 rgba(0,0,0,0.08),0 2px 1px 0 rgba(0,0,0,0.12);
    --sendbird-dark-shadow-02: 0 3px 5px -3px rgba(33,34,66,0.04),0 3px 14px 2px rgba(0,0,0,0.08),0 8px 10px 1px rgba(0,0,0,0.12);
    --sendbird-dark-shadow-03: 0 6px 10px -5px rgba(0,0,0,0.04),0 6px 30px 5px rgba(0,0,0,0.08),0 16px 24px 2px rgba(0,0,0,0.12);
    --sendbird-dark-shadow-04: 0 9px 15px -7px rgba(0,0,0,0.04),0 9px 46px 8px rgba(0,0,0,0.08),0 24px 38px 3px rgba(0,0,0,0.12);
    --sendbird-light-shadow-05: 0 2px 8px 0 rgba(0,0,0,0.08),0 4px 6px 0 rgba(0,0,0,0.12);
    --sendbird-dark-shadow-message-input: 0 1px 5px 0 rgba(33,34,66,0.12),0 0 1px 0 rgba(33,34,66,0.16),0 2px 1px 0 rgba(33,34,66,0.08),0 1px 5px 0 rgba(0,0,0,0.12);
    --sendbird-iconbutton-color: #825eeb;
    --sendbird-message-input-border-active: #7b53ef;
    --sendbird-selected-reaction-button-border-hover: #9e8cf5;
    --sendbird-add-reaction-button-border-hover: #9e8cf5;
    --sendbird-tooltip-background: #000;
    --sendbird-tooltip-text-color: hsla(0,0%,100%,0.88);
    --sendbird-button-border-focus: #fff;
    --sendbird-file-message-icon-background: #fff;
    --sendbird-font-family-default: "Roboto",sans-serif;
    --sendbird-message-balloon-width: 404px;
}

html {
    font-family: OhouseSans,sans-serif;
}

html {
    color: #424242;
    background: #fff;
}

body, html {
    line-height: 1;
    font-family: OhouseSans, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}

@media (min-width: 768px) {
    body, html {
        font-size: 15px;
    }
}

footer, header, main {
    box-sizing: border-box;
    position: relative;
    display: block;
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.css-jiuql7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    min-height: 100%;
    background-color: #fafafa;
}

.css-fwddxj {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.css-uu6y3f {
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
    margin: 0 auto;
    max-width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    padding: 40px 0;
}

.css-g46w8s {
    margin-bottom: 30px;
}

.css-18ji2p4 {
    width: 300px;
}

.css-bjn8wh {
    position: relative;
}

button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}

/*input[type="email" i] {*/
/*    padding: 1px 2px;*/
/*}*/

._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

[class^="_"], [class*=" _"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.css-87d0b4.css-87d0b4.css-87d0b4 {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 0 0 4px 4px;
    margin-top: -1px;
    -webkit-transition: .2s box-shadow, .2s background-color;
    transition: .2s box-shadow, .2s background-color;
}

.css-1rmx362 {
    margin: 20px 0;
    width: 100%;
}

._3SroY {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button, input, select, textarea {
    font-size: inherit;
}

.css-hyck8i {
    width: 100%;
    text-align: center;
}

.css-lpbwa0:first-of-type {
    margin-left: 0;
}

.css-lpbwa0:last-of-type {
    margin-left: 20px;
}

.css-1qr6979 {
    margin: 35px 0 15px;
    color: #757575;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.33;
    text-align: center;
}

.css-l0qndx {
    margin: 0 10px;
    -webkit-transition: .1s opacity;
    transition: .1s opacity;
}

.css-l0qndx {
    margin: 0px 10px;
    transition: opacity 0.1s ease 0s;
}

.css-l0qndx>svg {
    width: 48px;
    height: 48px;
    border-radius: 100%;
}

a * {
    border: none;
}

.css-1gdr9kc {
    margin-top: 24px;
    color: rgb(194, 200, 204);
    font-size: 14px;
    line-height: 18px;
}

.css-1wsvmq {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid rgb(219, 219, 219);
}

.css-1kz0wiu {
    width: 100%;
    background-color: transparent;
    border: 0px;
    margin: 0px 0px 20px;
    padding: 0px;
    font-size: 15px;
    line-height: 1.4;
    color: rgb(66, 66, 66);
}

.css-h2yjam {
    padding: 3px;
    margin: -3px;
    box-sizing: border-box;
}

.css-1kxjigl {
    width: 100%;
    color: rgb(117, 117, 117);
    font-size: 10px;
    line-height: 20px;
    margin: -5px 0px 25px;
    text-align: center;
}



.css-hg1ckt.css-hg1ckt.css-hg1ckt {
    position: relative;
    display: block;
    width: 100%;
    border-radius: 4px 4px 0 0;
    -webkit-transition: .2s box-shadow,.2s background-color;
    transition: .2s box-shadow,.2s background-color;
}
._2wjXG {
    padding: 13px 15px 14px;
}