
* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

body, html {
    line-height: 1;
    font-family: OhouseSans,Noto Sans KR,Apple SD Gothic Neo,맑은 고딕,Malgun Gothic,sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -.4px;
    font-size: 13px;
}

html {
    color: #424242;
    background: #fff;
}



[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}

a * {
    border: none;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button, input, select, textarea {
    font-size: inherit;
}

@media (min-width: 768px) {
    body, html {
        font-size: 15px;
    }
}

.css-b3oum6 {
    height: 100%;
}

.css-yxebjg {
    width: 100%;
    height: 100%;
    background: rgb(247, 248, 250);
}

.css-1a1r8vj {
    width: 100%;
    max-width: 350px;
    padding: 140px 35px 0px;
    box-sizing: border-box;
    margin: auto;
    text-align: center;
}

.css-3xa227 {
    display: inline-block;
    height: 50px;
    margin-bottom: 50px;
}

.css-1ve0zlx {
    max-width: 350px;
    margin-bottom: 20px;
}

.css-xagbzs {
    margin-bottom: 6px;
}

button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

._3ASDR {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 8px 15px 9px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-size: 15px;
    line-height: 21px;
    transition: border-color .1s,background-color .1s;
    resize: none;
    -webkit-appearance: none;
}

._3ASDR.focus-visible, html:not(.js-focus-visible) ._3ASDR:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(74, 213, 161, 0.21);
}

._1qwAY {
    padding: 8px 15px 9px;
}

._3Z6oR {
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: Noto Sans KR,Noto Sans CJK KR,맑은 고딕,Malgun Gothic,sans-serif;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}

._3AsCW {
    background-color: #7aab9a;
    border-color: #7aab9a;
    color: #fff;
}

._2tsrJ {
    padding: 11px 10px;
}

._2tsrJ, ._3VkGp {
    font-size: 17px;
    line-height: 26px;
}

[class^="_"], [class*=" _"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-ll17t0 {
    width: 100%;
    margin-top: 20px;
}

.layout, .page, body, html {
    height: 100%;
}

@media (-ms-high-contrast:active), (hover: hover), (-ms-high-contrast:none) {
    ._3AsCW.focus-visible, ._3AsCW:hover, html:not(.js-focus-visible) ._3AsCW:focus {
        border-color: #3b7661;
        background-color: #3b7661;
    }
}