
html {
    color: #424242;
    background: #fff;
}

body, html {
    line-height: 1;
    font-family: OhouseSans, "Noto Sans KR", "Apple SD Gothic Neo", "맑은 고딕", "Malgun Gothic", sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -0.4px;
    font-size: 13px;
}

@media (min-width: 768px) {
    body, html {
        font-size: 15px;
    }
}

* {
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

blockquote, body, code, dd, div, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, pre, td, textarea, th, ul {
    margin: 0;
    padding: 0;
}

.layout, .page, body, html {
    height: 100%;
}

.layout {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.layout>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}

a {
    color: inherit;
    text-decoration: none;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

button, input[type=email], input[type=file], input[type=number], input[type=password], input[type=submit], input[type=tel], input[type=text], option, select, textarea {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
}

button, input, select, textarea {
    font-size: inherit;
}

._1eWD8 {
    user-select: none;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-weight: 700;
    text-align: center;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    background: none;
    text-decoration: none;
    transition: color 0.1s ease 0s, background-color 0.1s ease 0s, border-color 0.1s ease 0s;
    border-radius: 4px;
}

._1qwAY {
    padding: 8px 15px 9px;
}

._27do9 {
    padding: 15px 10px;
    line-height: 20px;
    font-size: 17px;
    min-height: 50px;
}

._3ASDR {
    display: inline-block;
    width: 100%;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    box-sizing: border-box;
    font-family: "Noto Sans KR", "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", sans-serif;
    font-size: 15px;
    line-height: 21px;
    resize: none;
    appearance: none;
    margin: 0px;
    padding: 8px 15px 9px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(219, 219, 219);
    border-image: initial;
    border-radius: 4px;
    transition: border-color 0.1s ease 0s, background-color 0.1s ease 0s;
}

._3Bt8k {
    position: relative;
    display: inline-block;
    width: 100%;
}

._3SroY {
    background-color: #7aab9a;
    border-color: #7aab9a;
    color: #fff;
}

[class^="_"], [class*=" _"] {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.css-b3oum6 {
    height: 100%;
}

.css-6vucnj {
    width: 100%;
    max-width: 750px;
    margin: 0 auto;
    padding: 0 16px;
    box-sizing: border-box;
}

@media (min-width: 768px) {
    .css-6vucnj {
        padding: 0;
    }
}
.css-1h7izmk {
    margin: 20px 0;
}

@media (min-width: 768px) {
    .css-1h7izmk {
        margin: 40px 0;
    }
}

.css-1afs6cq {
    font-size: 20px;
    font-weight: 700;
}

@media (min-width: 768px) {
    .css-1afs6cq {
        font-size: 24px;
    }
}

.css-zce699 {
    margin-top: 10px;
    color: #828c94;
    font-size: 14px;
    line-height: 1.4;
}

@media (min-width: 768px) {
    .css-zce699 {
        margin-top: 15px;
    }
}

.css-zce699 a {
    color: #7aab9a;
    font-weight: 700;
}

.css-mieii2 {
    margin: 20px 0 70px;
}

@media (min-width: 768px) {
    .css-mieii2 {
        margin: 40px 0;
    }
}

.css-nwg1ls {
    margin: 16px 0;
    display: none;
}

.css-1dwz3w6 {
    height: 44px;
    padding: 10px 14px 11px;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    border: 1px solid #eaebef;
    border-radius: 4px;
    box-sizing: border-box;
}

._3Bt8k ._3K8Q8 {
    padding-right: 30px;
}

.IgBXR {
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 10px;
    margin-top: -5px;
    pointer-events: none;
    color: #bdbdbd;
}

.css-lkffw3 {
    margin: 16px 0;
}

@media (min-width: 768px) {
    .css-1v6bcwv {
        width: 343px;
    }
}

.css-1dwz3w6 {
    height: 44px;
    padding: 10px 14px 11px;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    border: 1px solid #eaebef;
    border-radius: 4px;
    box-sizing: border-box;
}

.css-lkffw3 {
    margin: 16px 0;
}

.css-1xrt6sk {
    height: 44px;
    padding: 10px 14px 11px;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    border: 1px solid #eaebef;
    border-radius: 4px;
    box-sizing: border-box;
    overflow-y: auto!important;
    height: 160px!important;
    line-height: 1.4;
}

.css-xu6utp {
    display: block;
    margin-top: 7px;
    font-size: 12px;
    color: #828c94;
    text-align: right;
}

.css-6lgku7 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

@media (min-width: 768px) {
    .css-6lgku7 {
        width: 343px;
    }
}

.css-h26ndt {
    height: 44px;
    padding: 10px 14px 11px;
    font-size: 16px;
    line-height: inherit;
    letter-spacing: inherit;
    border: 1px solid #eaebef;
    border-radius: 4px;
    box-sizing: border-box;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 0;
    padding: 0 16px;
    vertical-align: middle;
}

.css-h26ndt span {
    overflow-x: hidden;
    min-width: 0;
    line-height: 2;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.css-94jutt {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 120px;
    height: 44px;
    margin-left: 10px;
    color: #7aab9a;
    font-size: 14px;
    vertical-align: middle;
    border: 1px solid #7aab9a;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
}

.css-1bkpu5b {
    margin-top: 30px;
}

.css-1pz165y {
    display: inline-block;
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    font: inherit;
    width: 100%;
    height: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 4px;
    background: #7aab9a;
}

@media (min-width: 768px) {
    .css-1pz165y {
        width: 343px;
    }
}

._3ASDR.focus-visible, html:not(.js-focus-visible) ._3ASDR:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(74, 213, 161, 0.21);
}

.css-1dwz3w6:focus {
    border-color: #7aab9a36;
    box-shadow: none;
}

@media (hover: hover) {
    .css-94jutt:hover {
        background: #7aab9a36;
    }
}

@media (-ms-high-contrast:active), (hover: hover), (-ms-high-contrast:none) {
    ._3SroY.focus-visible, ._3SroY:hover, html:not(.js-focus-visible) ._3SroY:focus {
        border-color: #3b7661;
        background-color: #3b7661;
    }
}