.button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}

.form-control {
    transition: border-color .2s,box-shadow .2s,background-color .2s;
    display: block;
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    padding: 0 15px;
    line-height: 40px;
    border-radius: 4px;
    border: 1px solid #dbdbdb;
    background-color: #fff;
    color: #424242;
    font-size: 12px;
}

.update-password__wrap {
    width: 400px;
    padding: 40px;
    color: #292929;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.2);
    margin: 50px auto;
}

.update-password__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
}

.update-password__section {
    line-height: 1.5;
}

.update-password__submit {
    width: 100%;
}

.button--size-50 {
    padding: 11px 10px;
    font-size: 17px;
    line-height: 26px;
}

.button--color-blue {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}

.update-password__section__title {
    font-weight: 700;
    margin-bottom: 5px;
}

.expert-form-group {
    padding: 20px 0;
}

.update-password .expert-form-group__input .form-control {
    text-align: left;
}

.expert-form-group__input .form-control {
    font-size: 15px;
    border-radius: 6px;
    text-align: center;
}

.form-control.error, .form-group.error .form-control {
    border-color: #f77;
}

.expert-form-group__error {
    margin: 10px 0 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 1.33;
    color: #f77;
}

.expert-form-group__error>svg {
    margin-right: 4px;
    vertical-align: -5px;
}