<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>가입한 이메일 주소 입력 페이지</title>
</head>
<link href="../../resources/static/css/login/new_password_email.css" rel="stylesheet"/>
<link href="../../resources/static/css/font.css" rel="stylesheet"/>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

<body>
<div class="css-b3oum6">
<div class="css-1g1okj8 e1lpfzz14">
    <div class="css-1wv4onu e1lpfzz13">
        <div class="css-1akthhu e4aycna0">가입한 이메일 주소를 입력해주세요.</div>
        <div class="css-13ohduh exwppgg2">
            <div class="css-bcffy2 exwppgg1"><input class="_3ASDR _1qwAY css-1b75crg e16tbd810" value=""
                                                    field="[object Object]" name="email" placeholder="이메일">
                <button class="_3Z6oR _3AsCW _2tsrJ css-1gabnbc edfw59v0" type="button" disabled="">확인</button>
            </div>
        </div>
        <button class="_1eWD8 _3SroY _27do9 css-1lc2vx1 e1lpfzz10" disabled="" type="button">이메일로 인증코드 받기</button>
        <div class="css-156jhri e1lpfzz12">회원가입 시 입력한 정보가 기억나지 않는다면?<a href="tel:1670-0876"
                                                                       class="css-1nc5o6j e1lpfzz11">1대1
            문의하기(마이페이지)</a></div>
    </div>
</div>
</div>
</body>
</html>