<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/css/header-footer/header.css" rel="stylesheet">
    <link href="/css/notice/notice.css" rel="stylesheet">
    <link href="/css/font.css" rel="stylesheet">
</head>
<body>
<header id="header">
    <div class="sticky-container" style="height: 80.75px;">
        <div class="css-i7a8i3"
             style="position: fixed; z-index: 1102; transition: top 0.1s ease 0s; top: 0px; width: 1690.75px;">
            <div class="css-1pttzzz">
                <div class="css-1yg67sl">
                    <button type="button" class="css-osmvbo"><span class="_menu_24 css-cwcsvq"></span></button>
                </div>
                <div class="css-48o8iw" style="height: 100%;"><a class="css-loslz5" style="height :100%;" href="/main/main">
                    <img src="/image/logo.png" class="css-bsbra5" viewBox="0 0 74 30"
                         style="height: 55px; width: 100px;"
                    >
                </a></div>

                <div class="css-1h0hlgo"><a class="css-1scjy81" href="/plogging/plogging"><span
                        class="css-18nk785">플로깅 목록</span></a><a class="css-1scjy81" href="/product/product-list"><span
                        class="css-18nk785">쿠폰 목록</span></a><a class="css-1scjy81" href="/review/user_review_list"><span
                        class="css-18nk785">플로깅후기 목록</span></a></div>
                <div class="css-ff6c76">
                    <div class="css-10vibjk">
                        <div class="css-1o64euu">
                            <div id="global-search-combobox" role="combobox" aria-expanded="false"
                                 aria-haspopup="listbox" class="css-7whenc">
                                <div class="css-1yhxgcl"><span class="_search_24 css-hkiqzb"></span><input
                                        type="text" value="" placeholder="통합검색" autocomplete="off"
                                        aria-autocomplete="list" class="css-1pneado ej5pc7c2">
                                    <div class="css-s5xdrg"></div>
                                </div>
                            </div>
                        </div>
                        <div class="css-t6whf">
                            <button type="button" class="css-oh9y0"><span class="_search_24 css-cwcsvq"></span>
                            </button>
                        </div>

                        <div class="css-1f624s9">
                            <div class="css-1kpxvh4"><a class="css-1g5o6hv login-header"
                                                       >로그인</a><a
                                    class="css-1g5o6hv join-header">회원가입</a><a class="css-1tlac5g"
                                                                                            href="/notice/notice">공지사항</a>
                            </div>
                            <span class="css-1amee4m"><button type="button" class="css-duxp2y write-btn"><span
                                    class="css-cdruys">글쓰기</span><span
                                    class="_chevron_down_18 css-ae93ov"></span></button></span>

                            <div class="placement-bottom css-kqp0ar open open-active writes"
                                 style="position: absolute; inset: 0px auto auto 0px; transform: translate3d(978.667px, 70px, 0px); display: none;"
                                 data-popper-reference-hidden="false" data-popper-escaped="false"
                                 data-popper-placement="bottom">
                                <div class="popper-item css-y2j1wi"><a class="css-1n4nww write"
                                                                       href="/user/login">
                                    <div class="css-bjn8wh">
                                        <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36"
                                             width="36" height="36">
                                            <rect x="6.54" y="3.59" width="27" height="29" rx="2.5"
                                                  transform="rotate(4 6.54 3.6)" fill="#DBDBDB" stroke="#000"
                                                  stroke-linejoin="round"></rect>
                                            <rect x="2.5" y="1.5" width="27" height="29" rx="2.5" fill="#fff"
                                                  stroke="#000" stroke-linejoin="round"></rect>
                                            <rect x="5" y="4" width="22" height="22" rx="1" fill="#FFE2C7"></rect>
                                            <path fill-rule="evenodd" clip-rule="evenodd"
                                                  d="M14 7l5 .45v3.5l-5-.45V7zm0 4.5V15l5 .45v-3.5l-5-.45zm6 .55v3.5l5 .45v-3.5l-5-.45zm5-.55V8l-5-.45v3.5l5 .45z"
                                                  fill="#fff"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 19l22 2v7L5 26v-7z"
                                                  fill="#E6A87C"></path>
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M5 3.45h5v16l-5 4v-20z"
                                                  fill="#F1C8A3"></path>
                                        </svg>
                                    </div>
                                    <div class="css-1qhmto6">
                                        <div class="css-1w2j28v">플로깅 주최하기</div>
                                        <div class="css-n1vjup">지역 로컬크리에이터로 플로깅을 열어 보세요.</div>
                                    </div>
                                </a><a class="css-1n4nww write" href="/user/login">
                                    <div class="css-bjn8wh">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36"
                                             viewBox="0 0 36 36">
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M0 0h36v36H0z"></path>
                                                <path fill="#FFDB92"
                                                      d="M13.75 3.52h1.9a8.1 8.1 0 018.1 8.1v1.9H5.65v-1.9a8.1 8.1 0 018.1-8.1z"></path>
                                                <path fill="#FFDB92" d="M12 3h5v2h-5z"></path>
                                                <path fill="#FFF"
                                                      d="M12.2 23.92h5.4a7.2 7.2 0 017.2 7.2v2.8H5v-2.8a7.2 7.2 0 017.2-7.2z"></path>
                                                <path fill="#EDEDED" fill-opacity=".14"
                                                      d="M17.6 23.92c1.2 0 2.33.3 3.32.8a10.84 10.84 0 01-6.19 1.78c-2.28 0-4.38-.57-6.04-1.67a7.15 7.15 0 013.51-.91h5.4z"></path>
                                                <path stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                                      d="M5 33.59V30.9a6.59 6.59 0 015.47-6.37"></path>
                                                <path d="M10.64 24.6v3.19" fill-rule="nonzero" stroke="#000"
                                                      stroke-linecap="round" stroke-linejoin="round"></path>
                                                <path fill="#B1C0CB" fill-rule="nonzero" stroke="#000"
                                                      stroke-linecap="round" stroke-linejoin="round"
                                                      d="M8.9 33.92l.98-6H21.9l.98 6"></path>
                                                <path fill="#FFF6E6" fill-rule="nonzero"
                                                      d="M22.04 14.29c.31.9.48 2.3.48 3.31 0 4.65-3.49 7.2-7.79 7.2s-7.78-2.55-7.78-7.2c0-1.02.17-2.4.48-3.31"></path>
                                                <path fill="#EDE2CD" fill-rule="nonzero"
                                                      d="M22.04 14.29c.16.48.29 1.09.37 1.71H7.06c.08-.62.2-1.23.37-1.71h14.6z"></path>
                                                <path stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                                      d="M22.04 14.29c.31.9.48 2.3.48 3.31 0 4.65-3.49 7.2-7.79 7.2s-7.78-2.55-7.78-7.2c0-1.02.17-2.4.48-3.31"></path>
                                                <path stroke="#000" stroke-linecap="round" stroke-linejoin="round"
                                                      d="M16.29 20.9c-.23.46-.84.79-1.56.79-.72 0-1.33-.33-1.56-.78"></path>
                                                <path d="M12 17.55V17m5.46.55V17" fill-rule="nonzero" stroke="#000"
                                                      stroke-linecap="round" stroke-linejoin="round"
                                                      stroke-width="1.3"></path>
                                                <path fill="#EFC570"
                                                      d="M9.5 5l2.88 4.72v-5.9zM19.94 5l-2.89 4.72v-5.9z"></path>
                                                <g stroke="#000" stroke-linecap="round">
                                                    <path stroke-linejoin="round"
                                                          d="M5.75 11.76c0-4.08 2.9-7.45 6.63-7.94v-.3c0-.55.43-1 .95-1h2.84c.53 0 .95.45.95 1v.3c3.74.5 6.63 3.86 6.63 7.94"></path>
                                                    <path d="M12.38 5.52v-2c0-.55.43-1 .95-1h2.84c.53 0 .95.45.95 1v2"></path>
                                                    <path fill="#F5F5F5" fill-rule="nonzero" d="M4.2 14.02h20.7"></path>
                                                </g>
                                                <g>
                                                    <path fill="#35C5F0"
                                                          d="M26.25 33.1l-3.71 1.31a1 1 0 01-1.34-.97l.11-3.93a.99.99 0 00-.2-.64l-2.4-3.11a1 1 0 01.5-1.57L23 23.07a1 1 0 00.54-.39l2.23-3.24a1 1 0 011.65 0l2.22 3.24a1 1 0 00.54.4l3.78 1.1a1 1 0 01.5 1.58l-2.4 3.11a1 1 0 00-.2.64l.1 3.93a1 1 0 01-1.33.97l-3.7-1.32a1 1 0 00-.67 0z"></path>
                                                    <path fill="#9AE2F7"
                                                          d="M27.15 19.18a1 1 0 01.26.26l2.22 3.24c.06.09.13.16.21.23l-8.58 8.58.05-1.98a.99.99 0 00-.2-.64l-2.4-3.11a1 1 0 01.5-1.57L23 23.07a1 1 0 00.54-.39l2.23-3.24a1 1 0 011.39-.26z"></path>
                                                    <path stroke="#000"
                                                          d="M26.25 33.1l-3.71 1.31a1 1 0 01-1.34-.97l.11-3.93a.99.99 0 00-.2-.64l-2.4-3.11a1 1 0 01.5-1.57L23 23.07a1 1 0 00.54-.39l2.23-3.24a1 1 0 011.65 0l2.22 3.24a1 1 0 00.54.4l3.78 1.1a1 1 0 01.5 1.58l-2.4 3.11a1 1 0 00-.2.64l.1 3.93a1 1 0 01-1.33.97l-3.7-1.32a1 1 0 00-.67 0z"></path>
                                                </g>
                                            </g>
                                        </svg>
                                    </div>
                                    <div class="css-1qhmto6">
                                        <div class="css-1w2j28v">참가한 플로깅 리뷰쓰기</div>
                                        <div class="css-n1vjup">참가한 플로깅 리뷰를 작성하고 휴지도 받아가세요.</div>
                                    </div>
                                </a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
</body>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="/js/header-footer/header.js"></script>
</html>