.production-selling {
    position: relative;
    min-height: 1px;
}

.layout>* {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
}
.container {
    margin-right: auto;
    margin-left: auto;
    width: 1136px;
    max-width: 100%;
    box-sizing: border-box;
    min-height: 1px;
}

.production-selling-overview__category {
    margin: 20px 0 0;
    display: block;
    padding: 0;
    border: none;
}

ol, ul {
    list-style: none;
}

.commerce-category-breadcrumb__entry {
    margin-right: 5px;
    font-size: 15px;
    display: inline-block;
    color: #757575;
    line-height: 1.2;
}

.commerce-category-breadcrumb__entry>.link {
    transition: opacity .1s;
}

[role=button], a, button, input[type=button], input[type=reset], input[type=submit] {
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
}

a {
    color: inherit;
    text-decoration: none;
}
.commerce-category-breadcrumb__entry>.icon {
    margin-left: 5px;
    width: 10px;
    height: 10px;
    color: #bdbdbd;
    vertical-align: -1px;
}

.commerce-category-breadcrumb__entry {
    margin-right: 5px;
    font-size: 15px;
    display: inline-block;
    color: #757575;
    line-height: 1.2;
}

.production-selling-overview__container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-right: -10px;
    margin-left: -10px;
}
.col-lg-7 {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 58.3333333333%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 58.3333333333%;
    -ms-flex: 0 0 58.3333333333%;
    flex: 0 0 58.3333333333%;
    max-width: 58.3333333333%;
}

.production-selling-cover-image-container {
    position: relative;
}
.production-selling-overview__cover-image {
    margin: 0 30px 0 0;
}


.production-selling-cover-image {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    align-items: flex-start;
}
.carousel {
    position: relative;
}
.production-selling-cover-image__carousel-wrap {
    border-radius: 10px;
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    overflow: hidden;
}

.carousel__list {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: nowrap;
    -moz-flex-wrap: nowrap;
    -ms-flex-wrap: none;
    flex-wrap: nowrap;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    -webkit-align-items: stretch;
    -moz-align-items: stretch;
    align-items: stretch;
    min-height: 100%;
}
.production-selling-cover-image__entry {
    position: relative;
    padding-bottom: 100%;
    background-color: #ededed;
}

.carousel__list__entry {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    box-sizing: border-box;
    user-select: none;
}

.production-selling-cover-image__entry__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

fieldset, img {
    border: 0;
}
.production-selling-cover-image__timer--pc {
    display: block;
}

.production-selling__timer {
    display: block;
    position: absolute;
    z-index: 3;
    bottom: 16px;
    right: 16px;
    padding: 9px 16px;
    font-size: 13px;
    line-height: 15px;
    border-radius: 4px;
    margin: 0;
    background-color: #f77;
    color: #fff;
    font-weight: 700;
}

.production-selling__timer__title {
    margin-right: 10px;
    color: #ffd9d9;
}
.production-selling__timer__title__time-icon {
    margin-right: 4px;
    vertical-align: -3px;
}


.production-selling__timer__time {
    margin-right: 8px;
    display: inline-block;
}

.production-selling__timer__arrow-icon {
    vertical-align: -2px;
}

.production-selling-cover-image__list {
    -webkit-box-ordinal-group: 0;
    -webkit-order: -1;
    -moz-order: -1;
    -ms-flex-order: -1;
    order: -1;
    margin: 0 10px 0 0;
    display: block;
}
.production-selling-cover-image__list__item {
    display: block;
    margin: 0 0 8px;
}
.production-selling-cover-image__list__btn {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 56px;
    height: 56px;
    border: none;
    background-color: #ededed;
    overflow: hidden;
    border-radius: 4px;
}


.production-selling-cover-image__list__btn>.image {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: transform .2s;
}

.production-selling-cover-image__list__btn.production-selling-cover-image__list__btn--selected:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid #3b7661;
    border-radius: 4px;
}

.production-selling-cover-image__paginator {
    display: none;
}

.production-selling-cover-image__paginator {
    position: absolute;
    left: 50%;
    bottom: 15px;
    transform: translate(-50%);
}

.carousel-paginator {
    text-align: center;
    white-space: nowrap;
    font-size: 0;
    line-height: 0;
}

.carousel-paginator>li {
    display: inline-block;
    vertical-align: bottom;
    font-size: 0;
    height: 0;
}

.carousel-paginator__page.selected {
    width: 8px;
    height: 8px;
    background-color: #fff;
}

.carousel-paginator__page {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    margin: 0 3px;
    box-sizing: border-box;
    background-color: hsla(0,0%,100%,.7);
    transform: translateY(-50%);
    transition: background-color .15s,width .15s,height .15s;
    box-shadow: 0 0 6px rgba(0,0,0,.3);
}


.col-lg-5 {
    padding-right: 10px;
    padding-left: 10px;
    position: relative;
    width: 100%;
    min-height: 1px;
    box-sizing: border-box;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 41.6666666667%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 41.6666666667%;
    -ms-flex: 0 0 41.6666666667%;
    flex: 0 0 41.6666666667%;
    max-width: 41.6666666667%;
}

.production-selling-header {
    position: relative;
}

header__title__brand-wrap {
    display: block;
    margin: -4px 0 4px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #757575;
}
.production-selling-header__title__brand {
    color: #656e75;
    font-weight: 700;
    transition: opacity .1s;

}

.production-selling-header__title__name-wrap {
    position: relative;
}

.production-selling-header__title__name {
    font-size: 22px;
    line-height: 33px;
    min-height: 43px;
    margin: 0 92px 0 0;
    display: block;
    font-weight: 400;
    color: #000;
}

.production-selling-header__action {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 -6px;
}
.production-selling-header__action__button-scrap {
    display: inline-block;
    margin: 0 3px;
    padding: 5px 4px 0;
    background: none;
    border: none;
    text-align: center;
    transition: opacity .1s;
    line-height: 0;
    z-index: 2;
    vertical-align: top;

}

.production-selling-header__action__button>.icon--stroke {
    fill: transparent;
    stroke: #424242;
    stroke-width: 1px;
    transition: fill .1s,stroke .1s;
}

.production-selling-header__action__button>.count {
    display: block;
    margin-top: 2px;
    font-size: 11px;
    color: #424242;
    line-height: 14px;
    letter-spacing: -.3px;
}
.drop-down {
    position: relative;
    display: inline-block;
}
.production-selling-header__action__button {
    display: inline-block;
    margin: 0 3px;
    padding: 5px 4px 0;
    background: none;
    border: none;
    text-align: center;
    transition: opacity .1s;
    line-height: 0;
    z-index: 2;
    vertical-align: top;
}
.production-selling-header__action__button>.icon {
    fill: #424242;
}
.production-selling-header__content {
    position: relative;
    min-height: 46px;
}

production-selling-header__review-wrap {
    margin: 12px 0 0;
}
.production-selling-header__review {
    margin: 0;
    padding: 0;
    font: inherit;
    background: none;
    border: none;
    transition: opacity .1s;
}
.production-selling-header__review__icon {
    display: inline-block;
    font-size: 0;
}
.production-selling-header__review__icon>svg {
    margin-right: 2px;
    width: 16px;
    height: 16px;
}
.production-selling-header__price {
    margin: 8px 0 0;
}

.production-selling-header__price__coupon-wrap, .production-selling-header__price__price-value-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000;
    margin-top: 5px;
}

.production-selling-header__price__coupon, .production-selling-header__price__price {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    line-height: 1;
    font-size: 20px;
    font-weight: 700;
}

.production-selling-header__price__price {
    margin: -4px 0 0 -6px;
}

.production-selling-header__price__coupon>.number, .production-selling-header__price__price>.number {
    font-size: 32px;
    font-weight: 700;

}

.production-selling-header__price__price>* {
    margin: 4px 0 0 6px;
}
.production-selling-header__price__coupon>.deal, .production-selling-header__price__coupon>.won, .production-selling-header__price__price>.deal, .production-selling-header__price__price>.won {
    font-size: 24px;
    font-weight: 400;
}
.css-y2nf6n {
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    display: flex;
}
.css-kell50 {
    font-size: 32px;
    line-height: 42px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    color: rgb(240, 86, 86);
    font-weight: 700;
}

.css-1djn7ak {
    font-size: 24px;
    line-height: 32px;
    margin-left: 4px;
    font-weight: 400;
}
.css-1c6t58u {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-left: 8px;
}
.production-selling-header__info-wrap {
    padding: 20px 0;
    border-bottom: 1px solid #ededed;
}

.production-selling-header__info-wrap>div:first-of-type {
    padding-top: 0;
}

.production-selling-header__promotion {

    display: flex;
    font-size: 14px;
    line-height: 21px;
    color: #292929;
}
.production-selling-header__promotion__title-wrap {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 42px;
}
.production-selling-header__promotion__title-wrap span {
    font-size: 14px;
    line-height: 21px;
    color: #828c94;
}
.production-selling-header__promotion__content-wrap {
    -webkit-flex-basis: 42px;
    -moz-flex-basis: 42px;
    -ms-flex-preferred-size: 42px;
    flex-basis: 42px;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 42px;
}
.production-selling-header__promotion__entry {
    margin-bottom: 4px;
}
.production-selling-header__promotion__entry:last-of-type {
    margin-bottom: 0;
}
.production-selling-header__promotion__entry__button {
    display: inline-block;
    margin: 0;
    padding: 0;
    background: none;
    color: #292929;
    border: none;
    font: inherit;
    text-align: left;
    transition: opacity .1s;
}
.production-selling-header__info-wrap>div {
    padding-top: 14px;
}
.production-selling-header__delivery {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    line-height: 21px;
}
.production-selling-header__delivery__title-wrap {
    -webkit-flex-basis: 42px;
    -moz-flex-basis: 42px;
    -ms-flex-preferred-size: 42px;
    flex-basis: 42px;
}

.production-selling-header__delivery__content-wrap {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    width: 42px;
}
.production-selling-header__delivery__fee {
    display: block;
    margin-bottom: 4px;
    color: #292929;
}
.production-selling-header__delivery__type {
    display: block;
    margin-bottom: 4px;
    color: #292929;
}

.production-selling-header__delivery__type>span:first-of-type:before {
    margin: 0;
    border-left: 0;
}

.production-selling-header__delivery__type>span:before {
    content: "";
    height: 15px;
    display: inline-block;
    margin: 0 6px;
    border-left: 1px solid #292929;
    vertical-align: -2px;
}
.production-selling-header__delivery__disclaimer-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 4px;
    color: #757575;
    font-size: 13px;
    line-height: 18px;
}

.production-selling-header__delivery__disclaimer-wrap:empty {
    display: none;
}

.production-selling-header__delivery__expectation-date, .production-selling-header__delivery__expectation-date__dropdown {
    display: block;
}
.production-selling-header__delivery__expectation-section {
    display: block;
    margin-top: 12px;
}
.production-selling-header__delivery__expectation-wrap {
    display: block;
    border-radius: 4px;
    background-color: #f7f8fa;
}

.production-selling-header__delivery__expectation-date__header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
    padding: 8px 12px;
}
.production-selling-header__delivery__expectation-date__header .delivery-time-icon {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 24px;
}

.production-selling-header__delivery__expectation-date__header .text {
    display: block;
    width: 100%;
    margin-left: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #292929;
}
.production-selling-header__delivery__expectation-date__header .text .date {
    color: #35c5f0;
    font-weight: 700;
}
.production-selling-header__delivery__expectation-date__header .information-icon {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    cursor: pointer;
    width: 18px;
    height: 18px;
    color: #828c94;
}
.css-bd19aq {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
    color: rgb(47, 52, 56);
    font-weight: 700;
    margin-top: 16px;
}

.css-7c0zb9 {
    font-size: 14px;
    line-height: 20px;
}

.css-q02jxk {
    font-size: 20px;
    line-height: 28px;
}

.production-selling-option-form__footer {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -moz-box-flex: 0;
    -moz-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 20px -3px 0;
}

.production-selling-option-form__footer>.button, .production-selling-option-form__footer__sold-out {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    margin: 0 3px;
}

.production-selling-option-form__footer>.button, .production-selling-option-form__footer__sold-out {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 0px;
    -moz-box-flex: 1;
    -moz-flex: 1 0 0px;
    -ms-flex: 1 0 0px;
    flex: 1 0 0px;
    margin: 0 3px;
}
.button--size-55 {
    padding: 13px 10px 14px;
    font-size: 17px;
    line-height: 26px;
}

.button--color-blue {
    background-color: #35c5f0;
    border-color: #35c5f0;
    color: #fff;
}

.button {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid transparent;
    background: none;
    font-family: inherit;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    transition: color .1s,background-color .1s,border-color .1s;
    border-radius: 4px;
    cursor: pointer;
}


.button--size-55 {
    padding: 13px 10px 14px;
    font-size: 17px;
    line-height: 26px;
}

.button--color-blue {
    background-color: #7aab9a ;
    border-color: #7aab9a ;
    color: #fff;
}

.button--color-blue:hover{
    background-color: #3b7661 ;
    border-color: #3b7661  ;
}




.production-selling-header__delivery__title-wrap span {
    font-size: 14px;
    line-height: 21px;
    color: #828c94;
}


.production-selling-header__action__button:active, .production-selling-header__action__button:hover {
    opacity: .5;
}

.production-selling-header__action__button.production-selling-header__action__button--active>.icon--stroke {
    fill: #7aab9a;
    stroke: transparent;
}