<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.floc.mapper.PloggingMapper">

    <insert id="insert">
        INSERT INTO TBL_PLOGGING(ID, LOCAL_CREATOR_ID, PLOGGING_TITLE, PLOGGING_CONTENT, PLOGGING_START_LOCATION, PLOGGING_END_LOCATION, PLOGGING_ESTIMATED_TIME, PLOGGING_MAXIMUM_PARTICIPANT, PLOGGING_START_DATETIME, PLOGGING_STATUS, PLOGGING_APPLY_DATE, PLOGGING_REJECTED_REASON, PLOGGING_REGISTER_DATE, PLOGGING_UPDATED_DATE, PLOGGING_VIEWED_COUNT, PLOGGING_IMAGE_NAME, PLOGGING_IMAGE_UUID, PLOGGING_IMAGE_SIZE)
        VALUES(SEQ_PLOGGING.NEXTVAL, #{localCreatorId}, #{ploggingTitle}, #{ploggingContent}, #{ploggingStartLocation}, #{ploggingEndLocation}, #{ploggingEstimatedTime}, #{ploggingMaximumParticipant}, #{ploggingStartDateTime}, #{ploggingStatus} , SYSDATE, #{ploggingRejectedReason}, SYSDATE, SYSDATE, (0) , #{ploggingImageName}, #{ploggingImageUuid}, #{ploggingImageSize})
    </insert>
    <select id="selectAll" resultType="ploggingDTO">
        SELECT p.ID, LOCAL_CREATOR_ID,USER_NICKNAME , PLOGGING_TITLE, PLOGGING_CONTENT, PLOGGING_START_LOCATION, PLOGGING_END_LOCATION, PLOGGING_ESTIMATED_TIME, PLOGGING_MAXIMUM_PARTICIPANT, PLOGGING_START_DATETIME, PLOGGING_STATUS, PLOGGING_APPLY_DATE, PLOGGING_REJECTED_REASON, PLOGGING_REGISTER_DATE, PLOGGING_UPDATED_DATE, PLOGGING_VIEWED_COUNT, PLOGGING_IMAGE_NAME, PLOGGING_IMAGE_UUID, PLOGGING_IMAGE_SIZE
        FROM TBL_USER u JOIN TBL_PLOGGING p
        ON u.ID = p.LOCAL_CREATOR_ID
    </select>

    <select id="selectOne" resultType="ploggingDTO">
        SELECT p.ID, LOCAL_CREATOR_ID,USER_NICKNAME , PLOGGING_TITLE, PLOGGING_CONTENT, PLOGGING_START_LOCATION, PLOGGING_END_LOCATION, PLOGGING_ESTIMATED_TIME, PLOGGING_MAXIMUM_PARTICIPANT, PLOGGING_START_DATETIME, PLOGGING_STATUS, PLOGGING_APPLY_DATE, PLOGGING_REJECTED_REASON, PLOGGING_REGISTER_DATE, PLOGGING_UPDATED_DATE, PLOGGING_VIEWED_COUNT, PLOGGING_IMAGE_NAME, PLOGGING_IMAGE_UUID, PLOGGING_IMAGE_SIZE
        FROM TBL_USER u JOIN TBL_PLOGGING p
        ON u.ID = p.LOCAL_CREATOR_ID AND p.ID = #{id}
    </select>

    <update id="update">
        UPDATE TBL_PLOGGING
        SET PLOGGING_TITLE = #{ploggingTitle}, PLOGGING_CONTENT = #{ploggingContent}, PLOGGING_UPDATED_DATE = SYSDATE
        WHERE ID = #{id}
    </update>

    <delete id="delete">
        DELETE FROM TBL_PLOGGING WHERE ID = #{id}
    </delete>
</mapper>