<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.app.floc.mapper.ProductMapper">
    <insert id="insert">
        INSERT INTO TBL_PRODUCT
        (ID, PRODUCT_NAME, PRODUCT_DETAIL, PRODUCT_COST, PRODUCT_STOCK,  PRODUCT_CATEGORY, PRODUCT_USED_LOCATION, PRODUCT_IMAGE_NAME, PRODUCT_IMAGE_UUID, PRODUCT_IMAGE_SIZE)
        VALUES(SEQ_PRODUCT.NEXTVAL,#{productName}, #{productDetail}, #{productCost}, #{productStock}, #{productCategory} , #{productUsedLocation} , #{productImageName},#{productImageUuid}, #{productImageSize})
    </insert>

    <select id="selectOneByProductId" resultType="productVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_DETAIL, PRODUCT_COST, PRODUCT_STOCK, PRODUCT_REGISTER_DATE, PRODUCT_UPDATED_DATE, PRODUCT_CATEGORY, PRODUCT_USED_LOCATION, PRODUCT_IMAGE_NAME, PRODUCT_IMAGE_UUID, PRODUCT_IMAGE_SIZE
        FROM TBL_PRODUCT
        WHERE ID = #{productId}
    </select>

    <select id="selectAll" resultType="productVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_DETAIL, PRODUCT_COST, PRODUCT_STOCK, PRODUCT_REGISTER_DATE, PRODUCT_UPDATED_DATE, PRODUCT_CATEGORY, PRODUCT_USED_LOCATION, PRODUCT_IMAGE_NAME, PRODUCT_IMAGE_UUID, PRODUCT_IMAGE_SIZE
        FROM TBL_PRODUCT
    </select>

    <delete id="delete">
        DELETE FROM TBL_PRODUCT WHERE ID = #{productId}
    </delete>


    <!--    상품 번호	상품명	지역	카테고리	재고	가격	등록 날짜-->
    <select id="selectAllByAdmin" resultType="productVO">
        SELECT ID, PRODUCT_NAME, PRODUCT_USED_LOCATION, PRODUCT_CATEGORY, PRODUCT_STOCK, PRODUCT_COST, PRODUCT_REGISTER_DATE
        FROM
        (
        SELECT ROWNUM R,ID, PRODUCT_NAME, PRODUCT_USED_LOCATION, PRODUCT_CATEGORY, PRODUCT_STOCK, PRODUCT_COST, PRODUCT_REGISTER_DATE
        FROM
        (
        SELECT ID, PRODUCT_NAME, PRODUCT_USED_LOCATION, PRODUCT_CATEGORY, PRODUCT_STOCK, PRODUCT_COST, PRODUCT_REGISTER_DATE
        FROM TBL_PRODUCT
        ORDER BY ID DESC
        )
        <![CDATA[
                WHERE ROWNUM <= #{adminPagination.page} * #{adminPagination.rowCount}
                ]]>
        <include refid="search"/>
        <![CDATA[
            ) WHERE R > (#{adminPagination.page} - 1) * #{adminPagination.rowCount}
                ]]>
    </select>

    <sql id="search">
        <if test="search.type != null and !search.type.equals('')">
            <trim prefix="AND(" prefixOverrides="OR" suffix=")">
                <foreach item="type" collection="search.types">
                    <trim prefix="OR">
                        <choose>
                            <when test="type=='n'.toString()">
                                PRODUCT_NAME LIKE '%'||#{search.keyword}||'%'
                            </when>
                            <when test="type=='l'.toString()">
                                PRODUCT_USED_LOCATION LIKE '%'||#{search.keyword}||'%'
                            </when>
                            <when test="type=='c'.toString()">
                                PRODUCT_CATEGORY LIKE '%'||#{search.keyword}||'%'
                            </when>
                        </choose>
                    </trim>
                </foreach>
            </trim>
        </if>
    </sql>

    <select id="selectCountOfProduct" resultType="_int">
        SELECT COUNT(ID)
        FROM TBL_PRODUCT
        WHERE 1=1
        <include refid="search"/>
    </select>

    <delete id="deleteProductsByIds" parameterType="java.util.List">
        DELETE FROM TBL_PRODUCT
        WHERE ID IN
        <foreach item="id" collection="list" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>