<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>floc</title>
    <style>
    </style>
</head>
<body>
<header>

</header>
<section>
    <div id="location">
        <h2>지역별</h2>
        <ul>
            <li><a href=""><img src="" alt=""></a><p>전국</p></li>
            <li><a href=""><img src="" alt=""><p>서울/경기도</p></a></li>
            <li><a href=""><img src="" alt=""></a><p>강원도</p></li>
            <li><a href=""><img src="" alt=""></a><p>충청북도</p></li>
            <li><a href=""><img src="" alt=""></a><p>충청남도</p></li>
            <li><a href=""><img src="" alt=""></a><p>전라북도</p></li>
            <li><a href=""><img src="" alt=""></a><p>전라남도</p></li>
            <li><a href=""><img src="" alt=""></a><p>경상북도</p></li>
            <li><a href=""><img src="" alt=""></a><p>경상남도</p></li>
            <li><a href=""><img src="" alt=""></a><p>제주특별자치도</p></li>
        </ul>
    </div>
    <div id="category">
        <ul>
            <li><a href=""><img src="" alt=""><p>전체</p></a></li>
            <li><a href=""><img src="" alt=""><p>카페/제과</p></a></li>
            <li><a href=""><img src="" alt=""><p>외식</p></a></li>
            <li><a href=""><img src="" alt=""><p>편의점</p></a></li>
            <li><a href=""><img src="" alt=""><p>기프트카드</p></a></li>
            <li><a href=""><img src="" alt=""><p>뷰티</p></a></li>
            <li><a href=""><img src="" alt=""><p>생활</p></a></li>
            <li><a href=""><img src="" alt=""><p>레저</p></a></li>
            <li><a href=""><img src="" alt=""><p>건강</p></a></li>
            <li><a href=""><img src="" alt=""><p>디지털</p></a></li>
        </ul>
    </div>
    <div id="coupon-list">
        <h2>인기상품</h2>
        <ul>
            <img src="" alt="">
            <a href="">
                <li>쿠폰명 :</li>
                <li>사용처 : </li>
                <li>가격 : </li>
                <li>사용기한 :</li>
            </a>
        </ul>
    </div>
</section>
<footer>

</footer>
</body>
<script src=""></script>
</html>