<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../static/css/product/main.css">
    <style>
        .css-b3oum6 {
            max-width: 1256px;
            margin: 0 auto;
        }
    </style>
</head>

<body>
<div class="css-b3oum6">
    <div class="layout">
        <div id="store-index">
            <nav class="css-1qvkor6 ews609u1">
                <h1 style="font-weight: 700">지역 카테고리</h1>
                <ul class="css-1norycs ews609u0">
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href="">
                        <div class="css-ivqtox ecxk4430"><span>전국</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>서울/경기도</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>충청북도</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>충청남도</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>전라북도</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>전라남도</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>경상북도</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>경상남도</span></div>
                    </a></li>
                    <li class="css-1ks8qr6 ecxk4434"><a
                            href=" ">
                        <div class="css-ivqtox ecxk4430"><span>제주도</span></div>
                    </a></li>
                </ul>
            </nav>
            <hr>
            <section class="container store-index-section store-index-category-list">
                <h1>카테고리</h1>
                <div class="category-list-wrap">
                    <div class="category-list fold" style="transition-duration: 0ms; transform: translateX(0%);">
                        <div class="category-item-wrap"><a
                                href=" ">
                            <div class="category-item"><img class="category-item__image"
                                                            src="../../static/image/hot.png">
                                <div class="category-item__title">인기</div>
                            </div>
                        </a></div>
                        <div class="category-item-wrap"><a
                                href=" ">
                            <div class="category-item"><img class="category-item__image"
                                                            src="../../static/image/cafe.png">
                                <div class="category-item__title">카페</div>
                            </div>
                        </a></div>
                        <div class="category-item-wrap"><a
                                href=" ">
                            <div class="category-item"><img class="category-item__image"
                                                            src="../../static/image/spoon.png">
                                <div class="category-item__title">외식 상품권</div>
                            </div>
                        </a></div>
                        <div class="category-item-wrap"><a
                                href=" ">
                            <div class="category-item"><img class="category-item__image"
                                                            src="../../static/image/store.png">
                                <div class="category-item__title">편의점</div>
                            </div>
                        </a></div>
                        <div class="category-item-wrap"><a
                                href=" ">
                            <div class="category-item"><img class="category-item__image"
                                                            src="../../static/image/sale.png">
                                <div class="category-item__title">할인 쿠폰</div>
                            </div>
                        </a></div>
                        <div class="category-item-wrap"><a
                                href=" ">
                            <div class="category-item"><img class="category-item__image"
                                                            src="../../static/image/beauty.png">
                                <div class="category-item__title">뷰티</div>
                            </div>
                        </a></div>
                        <div class="category-item-wrap"><a
                                href=" ">
                            <div class="category-item"><img class="category-item__image"
                                                            src="../../static/image/lifestyle.png">
                                <div class="category-item__title">생활용품</div>
                            </div>
                        </a></div>
                    </div>
                </div>
            </section>
            <section class="container store-index-section store-index-product-list">
                <h2>인기 상품</h2>
                <div class="filter store-index-product-list__filter">
                    <div class="filter-bar">
                        <div class="filter-bar__control-list">
                            <ul class="filter-bar__control-list__right">
                                <li class="filter-bar__control-list__item">
                                    <div class="drop-down panel-drop-down filter-bar-control">
                                        <button
                                                class="filter-bar-order-button" type="button" style="position: relative; left: 1075px">인기순
                                            <svg class="caret"
                                                 width="8" height="8" viewBox="0 0 8 8"
                                                 preserveAspectRatio="xMidYMid meet">
                                                <path fill="#BDBDBD" d="M0 2l4 4 4-4z"></path>
                                            </svg>
                                        </button>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <ul class="filter-bar__tag-list"></ul>
                    </div>
                </div>
                <div class="virtualized-list row"
                     style="padding-top: 0px; padding-bottom: 6293px; transform: translateY(0px);">
                    <div class="col-6 col-md-3 product-item-wrap" style="display: inline-flex; max-width: 32%">
                        <article style="margin-right: 1rem;" class="production-item"><a
                                class="production-item__overlay"
                                href="/productions/767440/selling?affect_id&amp;affect_type=StoreHome"></a>
                            <div class="production-item-image production-item__image"><img class="image" alt=""
                                                                                           src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=360&amp;h=360&amp;c=c&amp;q=0.8"
                                                                                           srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=640&amp;h=640&amp;c=c&amp;q=0.8 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=720&amp;h=720&amp;c=c&amp;q=0.8 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=1080&amp;h=1080&amp;c=c&amp;q=0.8 3x">
                                <button
                                        class="production-item-scrap-badge production-item-image__scrap-badge"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" class="inactive-icon"></svg>
                                    <svg class="active-icon"
                                         width="24" height="24" viewBox="0 0 24 24"
                                         preserveAspectRatio="xMidYMid meet"></svg>
                                </button>
                                <div class="production-item-image__dark-overlay"></div>
                            </div>
                            <div class="production-item__content">
                                <h1 class="production-item__header"><span
                                        class="production-item__header__brand">헬로우슬립 </span><span
                                        class="production-item__header__name">[오늘의딜][10%쿠폰] 부드러운 카스테라 항균 옥수수솜
                                            여름/간절기/사계절 차렵이불세트</span></h1><span class="production-item-price"><span
                                    class="production-item-price__price">35,900</span></span>
                            </div>
                        </article>

                    </div>
                    <div class="col-6 col-md-3 product-item-wrap" style="display: inline-flex; max-width: 32%">
                        <article style="margin-right: 1rem;" class="production-item"><a
                                class="production-item__overlay"
                                href="/productions/767440/selling?affect_id&amp;affect_type=StoreHome"></a>
                            <div class="production-item-image production-item__image"><img class="image" alt=""
                                                                                           src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=360&amp;h=360&amp;c=c&amp;q=0.8"
                                                                                           srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=640&amp;h=640&amp;c=c&amp;q=0.8 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=720&amp;h=720&amp;c=c&amp;q=0.8 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=1080&amp;h=1080&amp;c=c&amp;q=0.8 3x">
                                <button
                                        class="production-item-scrap-badge production-item-image__scrap-badge"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" class="inactive-icon"></svg>
                                    <svg class="active-icon"
                                         width="24" height="24" viewBox="0 0 24 24"
                                         preserveAspectRatio="xMidYMid meet"></svg>
                                </button>
                                <div class="production-item-image__dark-overlay"></div>
                            </div>
                            <div class="production-item__content">
                                <h1 class="production-item__header"><span
                                        class="production-item__header__brand">헬로우슬립 </span><span
                                        class="production-item__header__name">[오늘의딜][10%쿠폰] 부드러운 카스테라 항균 옥수수솜
                                            여름/간절기/사계절 차렵이불세트</span></h1><span class="production-item-price"><span
                                    class="production-item-price__price">35,900</span></span>
                            </div>
                        </article>
                    </div>
                    <div class="col-6 col-md-3 product-item-wrap" style="display: inline-flex; max-width: 32%">
                        <article style="margin-right: 1rem;" class="production-item"><a
                                class="production-item__overlay"
                                href="/productions/767440/selling?affect_id&amp;affect_type=StoreHome"></a>
                            <div class="production-item-image production-item__image"><img class="image" alt=""
                                                                                           src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=360&amp;h=360&amp;c=c&amp;q=0.8"
                                                                                           srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=640&amp;h=640&amp;c=c&amp;q=0.8 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=720&amp;h=720&amp;c=c&amp;q=0.8 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=1080&amp;h=1080&amp;c=c&amp;q=0.8 3x">
                                <button
                                        class="production-item-scrap-badge production-item-image__scrap-badge"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" class="inactive-icon"></svg>
                                    <svg class="active-icon"
                                         width="24" height="24" viewBox="0 0 24 24"
                                         preserveAspectRatio="xMidYMid meet"></svg>
                                </button>
                                <div class="production-item-image__dark-overlay"></div>
                            </div>
                            <div class="production-item__content">
                                <h1 class="production-item__header"><span
                                        class="production-item__header__brand">헬로우슬립 </span><span
                                        class="production-item__header__name">[오늘의딜][10%쿠폰] 부드러운 카스테라 항균 옥수수솜
                                            여름/간절기/사계절 차렵이불세트</span></h1><span class="production-item-price"><span
                                    class="production-item-price__price">35,900</span></span>
                            </div>
                        </article>
                    </div>
                    <div class="col-6 col-md-3 product-item-wrap" style="display: inline-flex; max-width: 32%">
                        <article style="margin-right: 1rem;" class="production-item"><a
                                class="production-item__overlay"
                                href="/productions/767440/selling?affect_id&amp;affect_type=StoreHome"></a>
                            <div class="production-item-image production-item__image"><img class="image" alt=""
                                                                                           src="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=360&amp;h=360&amp;c=c&amp;q=0.8"
                                                                                           srcset="https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=640&amp;h=640&amp;c=c&amp;q=0.8 1.5x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=720&amp;h=720&amp;c=c&amp;q=0.8 2x,https://image.ohou.se/i/bucketplace-v2-development/uploads/productions/167168822852557476.jpg?gif=1&amp;w=1080&amp;h=1080&amp;c=c&amp;q=0.8 3x">
                                <button
                                        class="production-item-scrap-badge production-item-image__scrap-badge"
                                        type="button">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" class="inactive-icon"></svg>
                                    <svg class="active-icon"
                                         width="24" height="24" viewBox="0 0 24 24"
                                         preserveAspectRatio="xMidYMid meet"></svg>
                                </button>
                                <div class="production-item-image__dark-overlay"></div>
                            </div>
                            <div class="production-item__content">
                                <h1 class="production-item__header"><span
                                        class="production-item__header__brand">헬로우슬립 </span><span
                                        class="production-item__header__name">[오늘의딜][10%쿠폰] 부드러운 카스테라 항균 옥수수솜
                                            여름/간절기/사계절 차렵이불세트</span></h1><span class="production-item-price"><span
                                    class="production-item-price__price">35,900</span></span>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
</body>

</html>
</div>